[2011-07-31 18:28] nicolasgarfinkiel opened #2 "Bucardo.pm, lines 4316, 4317 - setting timezone to 'GMT'"
Running Bucardo with CenOS 5, postgreSQL 8.1.23, an error is thrown by DBD:Pg that says that the time zone 'GMT' is unknown.

[2012-01-19 22:52] makm opened #3 "Can't locate boolean.pm in @INC"
Hello
New error message :)
Can't locate boolean.pm in @INC (@INC contains: /usr/local/lib/perl5/5.12.4/BSDPAN /usr/local/lib/perl5/site_perl/5.12.4/mach /usr/local/lib/perl5/site_perl/5.12.4 /usr/local/lib/perl5/5.12.4/mach /usr/local/lib/perl5/5.12.4 .) at /usr/local/lib/perl5/site_perl/5.12.4/Bucardo.pm line 33.
BEGIN failed--compilation aborted at /usr/local/lib/perl5/site_perl/5.12.4/Bucardo.p

[2012-01-20 16:55] makm opened #4 "bucardo 5"
Bucardo 4 has type sync (swap, Pushdelta ...etc), how about 5 version?

[2012-01-20 22:45] #3 closed, assigned to nobody

[2012-03-05 12:03] afewlinesofcode opened #5 "Table names with uppercase not properly quoted as identifiers"
Hello!
I've got a database with tablenames like "bucardoTest" and when I'm trying to add a new sync bucardo fails with error 'relation "public.bucardotest" does not exist'. Looks like quote_ident is missing...

[2012-09-13 05:22] zundra opened #7 "Undefined database handle in `add all tables`"
Hi

I get the following error when trying to use the bucardo_ctl commadn to add tables:

[code]

This happens if I install from source or use the debian package via apt-get

[2012-10-02 21:20] theory opened #8 "MCP Exits when no syncs"
From `Bucardo.pm`:

[code]

This isn't too friendly to a start script. I would like to add an option to have it _not_ exit when there are no syncs. That way we know it's running, even if it's not doing anything, and can  just run `restart` to get it to pick up the new configs. Any reason not to?

[2012-10-02 21:24] theory opened #9 "Need more control over the reason file(s)"
The reason file gets opened in the current directory. This is a bit annoying for init scripts. And in any event one might not want such a file.

I propose two changes:
- Add a new option to disable logging to the reason file(s). Or perhaps don't log to it at all if there is no reason?
- Have the reason file live in `--debugdir` instead of whatever the current directory is.

Also, maybe we want to

[2012-10-16 17:35] theory opened #10 "No standard_conflict Parameter to Sync Commands"
Greg tells me [via the mail list](https://mail.endcrypt.com/pipermail/bucardo-general/2012-October/001568.html) that in Bucardo 5, conflict resolution is set only on the sync level, not on the table level. Yet the `standard_conflict` parameter is not currently supported by the `sync` commands:

[code]

So I think we should do three things:
- Remove the `standard_conflict` param from the `table` co

[2012-10-16 17:42] theory opened #11 "bucardo stop Fails"
Was doing some testing on a server and noticed that `bucardo stop` properly writes a fullstopbucardo file, but nothing happens as far as I can tell. I still see a bunch of connections in my process table.

Originally [reported here](https://mail.endcrypt.com/pipermail/bucardo-general/2012-October/001562.html). Reply from Greg [here](https://mail.endcrypt.com/pipermail/bucardo-general/2012-October/

[2012-10-16 19:10] theory opened #12 "The update and remove commands are undocumented"
Well, `remove` is documented, though not in the synopsis of the man page. But `update` is missing altogether.

[2012-10-16 22:09] theory opened #13 "Unescaped backslash causes infinite loop"
In [this list thread](http://blog.gmane.org/gmane.comp.db.postgresql.bucardo.general/day=20120911), Gabriel Weinberg writes:

@turnstep asked for the version, which Gabriel replied with, 4.99.5.

[2012-10-16 22:34] theory opened #14 "Table and index names not properly quoted"
In [this post](http://web.archiveorange.com/archive/v/aQD0QdXXbfPFi8fzeaGi), Sean M. Pappalardo reports:

And the patch:

[code]

However, I don't see this code anywhere in `bucardo.schema` anymore. @turnstep, is this a problem for 4.x and not 5.x?

[2012-10-16 22:39] theory opened #15 "Need to fix the password option for MD5 passwords"
In [this thread](http://web.archiveorange.com/archive/v/aQD0QdXXbfPFi8fzeaGi), Sean M. Pappalardo reports a number of issues with MD5 passwords:

FIrst, the `install` command never prompts for a password.

Then there seem to be some issues with MD5 passwords:

@turnstep, do have some pointers as to what, exactly, should be changed to fix this issue?

[2012-10-16 22:40] theory opened #16 "Need to get Drizzle Tests Verified as working"
Should be a straight-forward to-do for someone with a bit of Drizzle know-how.

[2012-10-16 22:41] theory opened #17 "Get bucardo-report working again"
Needs to be updated for Bucardo 5.

[2012-10-16 22:47] theory opened #18 "Document minimum Postgres version requirements"
Both the source and target. This is for @turnstep, mainly.

[2012-10-16 22:48] theory opened #19 "Need solid tests for the makedelta system"
Copied from the TODO list. Not sure what this feature is; pointers appreciated.

[2012-10-16 22:49] theory opened #20 "Need to Get customcode working, with tests"
Pointers welcome.

[2012-10-17 19:45] #8 closed, assigned to nobody

[2012-10-17 23:19] theory opened #21 "Implement `remove sequence`"
The implementation currently looks like this:

[code]

So it could use a little love.

[2012-10-18 00:13] theory opened #22 "Implement `update relgroup`"
Its current implementation is:

[code]

So either change it or, if nothing can be updated, remove it.

[2012-10-18 00:14] theory opened #23 "Implement `update customcode`"
Its current implementation is:

[code]

We probably ought to do something about that.

[2012-10-18 00:40] theory opened #24 "Rename Cutesy Terms"
I'm thinking now might be a good time to replace two cutesy terms, "goat" and "herd". My suggestion:

• Change "goat" to "relation". This allows it to implicitly cover views and foreign tables, too.

• Change "herd" to "relgroup"

I find these terms much easier to decipher, as they say exactly what they are. Plus "relgroup" nicely corresponds to the existing "dbgroup" term.

I'm thinking all the d

[2012-10-18 00:41] theory opened #25 "Bring help() Docs in line with Pod"
In fact, maybe use Pod::Find to show just the appropriate parts, instead of duplicating everything, eh?

[2012-10-22 18:40] theory opened #26 "If MCP Dies, its PID FIle is not cleaned up"
Noticed when `t/20-postgres.t` tests fail: the pid file is left lying around, and when the `t/20-sqlite.t` tests run, they die, because they think the MCP is still running.

[2012-10-22 19:10] #26 closed, assigned to nobody

[2012-10-24 23:40] theory opened #27 "VAC Processes do not Exit Immediately"
I've noticed that the MCP, CTL, and KID processes shut down very quickly after a call to `bucardo stop`, but VAC processes hang around for a while. Should they be listening for a STOP message?

[2012-10-24 23:59] #11 closed, assigned to nobody

[2012-10-25 00:06] #9 closed, assigned to nobody

[2012-10-26 16:19] theory opened #28 "Processes do not respawn on back end termination"
I have been killing Bucardo's database connections (because I was grepping the process table for `bucardo`, not `Bucardo`), and noticed that the processes don't restart themselves. Instead, the next time they are kicked or try to connect to the database, they die. From my log file:

[code]

Glad to see it try to respawn, but there is nothing in the process table.

[2012-10-26 21:40] #10 closed, assigned to nobody

[2012-10-26 22:37] #12 closed, assigned to nobody

[2012-10-26 22:47] theory opened #29 "Need Tests to Reliably Test Serialization failures"
We might be able to fake them up using custom exception codes from a PL/pgSQL function on PostgreSQL 8.4 or higher:

[code]

[2012-10-27 00:55] #24 closed, assigned to nobody

[2012-10-29 19:30] #27 closed, assigned to nobody

[2012-10-29 23:00] #28 closed, assigned to nobody

[2012-10-31 00:20] #25 closed, assigned to nobody

[2012-10-31 23:40] #21 closed, assigned to nobody

[2012-11-01 21:44] theory opened #30 "Add Two-Phase Commit Support"
Add an option to use two-phase commit to support synchronous replication. [Discussion here](https://mail.endcrypt.com/pipermail/bucardo-general/2012-October/001628.html), and continuing [here](https://mail.endcrypt.com/pipermail/bucardo-general/2012-November/001633.html).

[2012-11-02 00:42] theory opened #31 "Do not expect a row count from $sth->execute"
Frank NJ. reported via the list that he was getting this error when trying to add a sync:

[code]

Turns out the code in in `validate_sync()` is doing this:

[code]

Oy. `execute` always returns true on success, not the number of rows. I suspect there are a bunch of places this needs to be fixed.

[2012-11-02 16:45] #31 closed, assigned to nobody

[2012-11-02 17:56] #2 closed, assigned to nobody

[2012-11-02 17:57] #4 closed, assigned to theory

[2012-11-02 21:45] #29 closed, assigned to theory

[2012-11-27 00:07] #15 closed, assigned to nobody

[2012-11-27 00:29] #18 closed, assigned to nobody

[2012-11-27 00:36] turnstep opened #32 "Support Oracle as a source database"
Allow Oracle to be a source, not just a target. Should be possible with Oracle's triggers. In theory anyway.

[2012-11-27 00:40] #22 closed, assigned to nobody

[2012-12-10 22:55] #19 closed, assigned to nobody

[2012-12-10 22:55] theory opened #33 "Restore `makedelta` functionality."
Get it back to it works more or less how it did in Bucardo 4. Tests were added in response to issue #19.

[2012-12-12 17:02] #33 closed, assigned to theory

[2012-12-18 23:40] theory opened #34 "Have MCP Ignore Grandkid's Own Notices"
From [this discussion](https://mail.endcrypt.com/pipermail/bucardo-general/2012-December/001709.html).

Right now the kid ignores its own messages, but ideally we would train the MCP to ignore notices from a grandkid that target itself. This can happen, for example, when `autokick` messages are sent when `makedelta` is enabled on a table. We could probably simply have the KID send the MCP a quick

[2013-01-30 17:03] theory opened #37 "onetime Does Not Work in 4.99.6"
Tried to set up a two master configuration where one master already had data and the other didn't. Hit `reload config` and the daemons fired up, which is great, but nothing was copied. I changed a row in the populated master, and the updated data was copied to the other, but none of the existing data was. The `onetime` attribute was set to 0 after that.

Probably something simple…

[2013-01-31 04:40] MikeEmery opened #38 "Not replicating, cryptic error(?) message"
I'm using 4.99.6.  I have two databases set up for replication and everything seems ok.  When I run the replication I don't see any rows moving accross and I see this repeatedly in the bucardo log:

(2767) [Thu Jan 31 01:10:36 2013] KID Kid 2767 exiting at cleanup_kid. Sync "db_production" public.delayed_jobs Reason: Bucardo=HASH(0x112b3e8) Line: 2632

Is this actually an error?  If so how do I fi

[2013-02-07 16:53] teejteej opened #40 "Delta relation doesn't exist"
I made some database schema changes, but Bucardo didn't really like this. So I did a cascade drop of the Bucardo schema database and dropped bucardo triggers from all synced tables. Then I re-installed Bucardo. I still get the same error as before, and can't seem to get rid of it. Syncing is still working fine, so it may be something small.

[code]

[2013-02-08 17:36] #40 closed, assigned to nobody

[2013-02-12 22:48] theory opened #41 "Kick hangs after reload config"
I have a multi-master configuration running on 4.99.6. Working fine, but then try this:

[code]

This properly disables `autokick`. However, a manual `kick` just hangs:

[code]

(That `^C` is me killing it.) Turning `autokick` back on does not help:

[code]

Data is not being copied over, either, even if I insert some. That is, `autokick` does not work. In fact, `reload` hangs, too:

[code]

The o

[2013-02-14 07:08] #41 closed, assigned to nobody

[2013-02-15 16:34] a-reznic opened #42 "bucardo_ctl install latest master"
Connecting to database 'bucardo' as user 'bucardo'
DBD::Pg::st execute failed: ERROR:  column "value" of relation "bucardo_config" does not exist
LINE 1: UPDATE bucardo.bucardo_config SET value = $1 WHERE setting =...
                                          ^ at /usr/local/bin/bucardo_ctl line 5560, <> line 3.

[2013-02-18 11:02] #42 closed, assigned to nobody

[2013-04-16 22:27] marcvpi opened #44 "4.99.7 requires at least Postgres 8.4"
Commit c5fcf49e1fab50fd3b680aee449135e0c48d2f51 added the use of the array_agg function which was introduced in PostgreSQL 8.4.

I would suggest either bumping the requirements in the README or changing the code to remove the use of that function.

[2013-05-28 09:14] lownoize opened #47 "Charset issue when name of primary key contains german umlauts"
I have a setup with bucardo 4.4.8 and postgres 9.1

Some primary keys used in that database contain german umlauts in their name.
It looks like bucardo has some problems writing correct triggers when these tables get added.
The problem exists only with primary keys so far, bucardo has no problem with table names which contain german umlauts. System encoding is set to de_DE.utf8 too.
Here is a smal

[2013-06-17 15:49] phinjensen opened #48 "Bucardo_ctl reports date in the future for 'Last good time'"
ID: 56
Component: bucardo_ctl
Version: 4.4.0
Date: 2010-11-29 10:09 EST
Author: geoff (gjsw@utas.edu.au)

---

Hi,

Bucardo_ctl is reporting dates in the future for the 'last good time' field
when I do a bucardo_ctl status syncname.  The server I'm running this on is
based in Tasmania, Australia where the current timezone offset is currently
UTC/GMT +11 hours.
#### Steps to reproduce:

Just run bu

[2013-06-17 16:23] phinjensen opened #49 "unique indexes w/ NULLs cause errors and log pollution"
ID: 77
Component: bucardo_ctl
Version: 4.4.7
Date: 2011-06-09 21:44 EDT
Author: Armin B. Resch (armin@reschab.net)

---

Check whether this fix on 4.4.4/Bucardo.pm can be applied upstream:

[code]

[2013-06-17 16:36] phinjensen opened #50 "[Version 4.4.8] Column with name "tablename""
ID: 105
Component: bucardo_ctl
Version: 4.4.8
Date: 2012-06-27 10:38 EDT
Author: Hermann D. Schimpf (hschimpf@hds-solutions.net)

---

Hi,
I'm using Bucardo from 2 years ago. I want to congratulate for this tool, it
helped me very much.

Ok, I tell you my problem. I found a bug using Bucardo. If I have a table with
a column named "tablename", it conflicts with a internal variable from Bucardo
proc

[2013-06-17 16:51] phinjensen opened #51 "DBD::Pg::st execute failed"
ID: 109
Component: bucardo_ctl
Version: HEAD
Date: 2012-08-01 04:18 EDT
Author: Yang Hua Jie (yhjhoo@163.com)

---

when I tried to use the command bucardo_ctl to add the sequences to be
synchronize, I encounter the following error.

$sudo bucardo_ctl add all sequences db=db1
DBD::Pg::st execute failed: ERROR:  new row for relation "goat" violates check
constraint "standard_conflict_sequence" at /

[2013-06-17 17:04] phinjensen opened #52 "Using service names doesn't work particularly well"
ID: 42
Component: General
Version: HEAD
Date: 2010-07-14 16:23 EDT
Author: Joshua Tolley (josh@endpoint.com)

---

Telling bucardo about databases using service names rather than
host/port/dbname should work, but doesn't.

[2013-06-17 17:06] phinjensen opened #53 "Does bucardo support quoted columns/tables? I have a bug in Bucardo 4.99.3"
ID: 103
Component: General
Version: HEAD
Date: 2012-05-19 13:20 EDT
Author: Ross (rivantsiv+bucardo@gmail.com)

---

[code]

In fact table public."Photographers" exists, but in Postgres
"Photographers" and photographers (without quotes) are 2 different things.
The same concerns columns.

Do you support quoted colums/tables in Postgres, so it's just a small bug, or
this is not supported from the be

[2013-06-17 17:09] phinjensen opened #54 "unequal number of entries in row expressions"
ID: 104
Component: General
Version: unspecified
Date: 2012-06-07 16:35 EDT
Author: Chris (cmajewsk@nrcan.gc.ca)

---

Bucardo 4.99.5 but the problem started on 4.99.3

I tired, losing my mind.

I blew out the table and started fresh, I did the same for bucardo and started
fresh.  It used to work and now it's freaking out.  I can't seem to get the
full query to see what the problem is.  I turned li

[2013-06-17 17:16] phinjensen opened #55 "activate / deactivate doesn't obviously work"
ID: 123
Component: General
Version: HEAD
Date: 2013-06-07 12:09 EDT
Author: Joshua Tolley (josh@endpoint.com)

---

[code]

[2013-06-17 17:18] phinjensen opened #56 "Postgres server killing client DBI connection during validate_sync"
ID: 99
Component: General
Version: HEAD
Date: 2012-02-23 21:24 EST
Author: Seth (sethcall@gmail.com)

---

The call to `DBI->connect` is failing; postgres server is killing the connection
because:

[code]

I was able to make the error go away by adding this around the `DBI->connect`
call in `connect_database`:

[code]

Somehow adding these logs makes the error go away.

[2013-06-18 22:55] theory opened #57 "strict_checking Not Documented"
The `strict_checking` parameter is not documented. I found that I needed it for a sync, and not only is it not documented, but it doesn't work for `add sync`, either. It does work for `update sync`, however.

It should probably be documented and supported for both `add` and `update` commands for both syncs and tables.

[2013-06-19 20:09] phinjensen opened #58 "Better installation suggestions"
ID: 83
Component: Installation
Version: unspecified
Date: 2011-08-01 15:11 EDT
Author: Greg Sabino Mullane (greg@endpoint.com)

---

Would be nice if the INSTALL file and/or the installer made an effort to find
and point out missing prerequisites, including how to install on common
platforms (e.g. sudo yum install perl-DBIx-Safe)

[2013-06-19 20:11] phinjensen opened #59 "[4.4.8] problem with perl Makefile.PL and version detection mechanism for DBD::Pg 2.0"
ID: 106
Component: Installation
Version: 4.4.8
Date: 2012-06-27 13:15 EDT
Author: matthewbrown@gmail.com

---

Hello all,

I am having some trouble with the version detection mechanism used during the
parl Makefile.PL call to create the make files to do with DBD::Pg 2.0

I have installed the perl-DBD-Pg package from the rpmforce repo, and receive
the the following when trying to build bucardo from

[2013-06-19 20:12] phinjensen opened #60 "Installation reports pl/perlu not installed"
ID: 1
Component: Installation
Version: 4.4.0
Date: 2009-11-17 03:58 EST
Author: Greg Sabino Mullane (greg@endpoint.com)

---

Although bucardo_ctl install claims pl/perlu is not installed and working, it is.

[2013-06-19 20:23] phinjensen opened #61 "Documentation on custom conflict resolution"
ID: 30
Component: Wiki
Version: HEAD
Date: 2010-01-13 14:40 EST
Author: Greg Sabino Mullane (greg@endpoint.com)

---

The wiki needs a good explanation and examples of custom conflict resolution
code. Should probably have some in the tests as well (so perhaps write both at
the same time).

[2013-06-19 20:25] phinjensen opened #62 ""bucardo_ctl install" failing on debian / lack of documentation"
ID: 101
Component: Wiki
Version: 4.4.0
Date: 2012-03-29 15:21 EDT
Author: Chris Recktenwald (bucardo-contact@citecs.de)

---

installation on debian 6.0 from debian packet bucardo 4.4.0-1

doc used: http://bucardo.org/wiki/Bucardo/Installation
(which is kind of "but first" structured)

the way to do this - without fiddling around the authentication scheme for the
"postgres" user in /etc/postgresql

[2013-07-09 21:39] theory opened #63 "Bucardo Should Not Create "real user""
I have seen errors like this several times:

[code]

This confuses the shit out of me every time. Why is Bucardo trying to create a user that already exists? I've also seen it fail to connect as user `postgres`. Why would it do that when I told it to connect as user `bucardo`?

The answer to both questions is that it is running into this too-clever bit of code:

[code]

I think this is a really ba

[2013-07-17 19:48] theory opened #64 "Help Command Should Not Connect to the Database"
This is unfortunate:

[code]

IMO, Bucardo should not bother connecting to the database unless and until it needs to connect to the database.

[2013-07-17 20:53] theory opened #65 "Sync Validation Fails Silently"
I ran this:

[code]

Great, right? No, not so much.

[code]

What is the problem with `another_sync`? I had to look in the log to find out.

[code]

It would have been _really_ helpful for the output of `bucardo validate` to emit those warnings. Would it be possible to have `validate` say when it finds a sync invalid?

A bonus would be to have it also suggest setting `strict_checking=0` (related:

[2013-07-23 22:34] theory opened #66 "`bucardo reload config 30` Does not Work"
It's in the docs, but seems to be parsed wrong:

[code]

[2013-07-23 22:50] #66 closed, assigned to nobody

[2013-07-31 20:35] theory opened #67 "Default Wait Time for `reload config` is Way too Short, should be configurable"
We recently created a bunch of new syncs, and were slightly surprised that `reload config` started to fail on is. Turns out it waited only 5 seconds for all the syncs to reload, which includes validation. That was not nearly long enough. And it wasn't even paying attention when we told it to wait longer with `reload config 30`, though I fixed that in c321ca42ea.

Still though, 5 seconds seems way

[2013-08-11 22:14] teejteej opened #68 "Delta table keeps growing"
Using Bucardo 4.99.6, the delta tables keep growing. At one point, it slowed down everything as there were 10+ million records in it. I've done a re-install and did a cascade drop of Bucardo, after which everything was fine again.

But now the delta table still keeps growing without removing any old entries.  SELECT bucardo.bucardo_purge_delta('45 seconds') succeeds, but doesn't do anything.

Doin

[2013-09-09 18:52] theory opened #69 "Add Custom Background Worker Support"
PostgreSQL 9.3 adds support for [custom background workers](https://wiki.postgresql.org/wiki/What%27s_new_in_PostgreSQL_9.3#Custom_Background_Workers). It would be cool to have this for Bucardo, so that when Postgres starts, so does Bucardo, and when Postgres shuts down, so does Bucardo. Would need to be sure that Bucardo could be restarted without restarting Postgres, though.

[2013-10-02 18:45] #67 closed, assigned to theory

[2013-10-02 21:00] #64 closed, assigned to nobody

[2013-10-02 21:21] #14 closed, assigned to turnstep

[2013-10-02 21:22] #53 closed, assigned to turnstep

[2013-10-02 21:29] #59 closed, assigned to nobody

[2013-10-02 21:55] #57 closed, assigned to theory

[2013-10-02 22:30] #55 closed, assigned to theory

[2013-10-15 23:40] #63 closed, assigned to theory

[2013-10-16 00:16] theory opened #70 "Validate Command is not Comprehensive"
The `bucardo validate` command does some basic sync validation by calling the `validate_sync()` function in the database. However, when a sync is activated, Buardo.pm code does _a whole lot more_ to validate a sync. This is good, to make sure a sync is valid on startup. But not very useful to the user, who will not know a sync is invalid until they notice it not working and dig through the Bucardo

[2013-10-16 20:45] #65 closed, assigned to theory

[2013-10-17 03:28] #34 closed, assigned to turnstep

[2013-11-26 19:59] #68 closed, assigned to turnstep

[2013-12-13 18:59] mamasource opened #71 "Feature request: 'bucardo clear lasterr <some_sync>"
It would be nice if one could clear the "Last error:" field in 'bucardo status some_sync' output.
a la:

[code]

I get this output:

[code]

(This during testing). The last thing that hits my eye is "oh shit errors", even though about 13 lines up, the current state is 'good', and the error is quite stale. If I had 'bucardo  clear lasterr trumgr_main_sync', the field could perhaps reflect:

[code]

[2014-01-16 20:21] miadavidson opened #72 "Bucardo failed wih syntax error a or near ")""
Hi Dave..

I am new to Bucardo. I downloaded the Bucardo 5 and getting error on the sync module

ARNING:  Issuing rollback() due to DESTROY without explicit disconnect() of DBD::Pg::db handle dbname=bxtrans;host=xxx.xxx.xxx adcl.net at line 1010.
CONTEXT:  PL/Perl function "validate_sync"
SQL statement "SELECT validate_sync('bxsync')"
PL/Perl function "validate_sync"
Failed to add sync: DBD::Pg::s

[2014-01-17 14:41] dgoo2308 opened #73 "dist/bucardo-logfiles.patch outdated"
dist/bucardo-logfiles.patch does not work when building latest master.

@@ -135,9 +135,9 @@ log_showpid|1|Show PID in the log output?
should be:
@@ -139,9 +139,9 @@ log_showpid|1|Show PID in the log output?

and for:

@@ -161,7 +161,7 @@ email_debug_file||File to save a copy of all outgoing emails to
flatfile_dir|.|Directory to store the flatfile output inside of
host_safety_check||Regex to make s

[2014-02-06 17:40] bruno911 opened #74 "Sync will stop when 1 server is down."
Hi All,
First I would like to congratulate every contributor as bucardo 4.99.11 is working really well.
I notice, well maybe is a known issue, that if 1 server is down everything will stop without error messages. Consider this scenario:

db1<=>db2<=>db3
bucardo add db db1
bucardo add db db2
bucardo add db db3

bucardo add table tbl_test herd=therd

bucardo add dbgroup tgroup db1:source db2:source

[2014-02-13 21:05] #5 closed, assigned to turnstep

[2014-02-13 21:18] eggyknap opened #75 "bucardo install ignores --dbuser and --dbname options"
[josh@eddie ~/devel/bucardo]$ ./bucardo install --pid-dir /home/josh/devel/bucardo/pid/ --dbport 3287 --dbname bucardo --dbuser josh
This will install the bucardo database into an existing Postgres cluster.
Postgres must have been compiled with Perl support,
and you must connect as a superuser

Current connection settings:
1. Host:           <none>
2. Port:           3287
3. User:           postgr

[2014-02-13 23:26] #75 closed, assigned to eggyknap

[2014-02-14 19:40] eggyknap opened #76 "Allow bucardo to install itself to some database other than "bucardo""
The database you specify on installation is just the name of a database the installer can connect to to get started; it then creates a bucardo database and installs itself there. It would be nice to be able to install to some other database.

[2014-02-18 20:28] #52 closed, assigned to eggyknap

[2014-03-12 20:34] #47 closed, assigned to turnstep

[2014-03-28 17:04] eggyknap opened #77 "bucardo reload hangs"
Create a sync replicating one table from one database to another:

[josh@eddie ~/devel/bucardo]$ ./bucardo list dbs
Database: one  Status: active  Conn: psql -U bucardo -d bucardo1
Database: two  Status: active  Conn: psql -U bucardo -d bucardo2
[josh@eddie ~/devel/bucardo]$ ./bucardo list tables
1. Table: public.a  DB: one  PK: i (int4)
[josh@eddie ~/devel/bucardo]$ ./bucardo list syncs
Sync: mys

[2014-03-28 17:09] eggyknap opened #78 "When adding a table with no pkey to a herd that's part of a sync that requires a pkey, complain"
Tables aren't checked for pkeys until validate_sync, because only some sync types require it. So you can add tables without pkeys to existing syncs, which causes problems (ref. https://github.com/bucardo/bucardo/issues/77). It would be nice to warn users when they do stuff like that, at the time they add the table. As a possible expansion, we could report when the table is going to break validate_

[2014-03-28 17:31] eggyknap opened #79 "Add command to remove triggers, delta tables, etc. from a particular table"
Since bucardo doesn't remove its delta tables and the like from tables when they're removed from a sync, it might be nice to provide a mechanism to do it manually, perhaps as an option to "remove table"

[2014-03-28 17:46] eggyknap opened #80 "bucardo start should have an option to check the pidfile to see that it points to a real process"
If the MCP is forcefully killed, "bucardo start" reports that it's already running, and the pid file must be removed manually before it will start again. It would be nice to have a --force option or some such on the start command to check that the pid file corresponds to a real process, or perhaps even to ping the daemon, and if it fails, try to find and kill the MCP process (without killing any o

[2014-04-04 17:20] joshwilliams opened #81 "Conflict resolution customcode seems to be broken"
When writing a custom conflict resolver...

bucardo add customcode myconflicthandler whenrun=conflict sync=mysync src_code=conflict.pl
bucardo update sync mysync conflict_strategy='bucardo_custom'

... something resembling the following appears in the logs:

KID (mysync) Kid 6201 exiting at cleanup_kid. Sync "mysync" public.t1 Reason: Not a HASH reference at /usr/local/share/perl/5.14.2/Bucardo.pm

[2014-04-11 17:56] #77 closed, assigned to eggyknap

[2014-04-30 02:23] nav opened #82 "Problem starting bucardo"
Hi,

I am getting the following message trying to start bucardo.

Bareword "NORMAL" not allowed while "strict subs" in use at /usr/local/share/perl/5.14.2/Bucardo.pm line 4941.

Seems to be an issue with the recent changes.

[2014-05-08 18:20] ocZio opened #83 "Using bucardo remote database without superuser access"
Hello,

I am using Bucardo in MASTER/MASTER mode and I was wondering if there is a possibility to restrict the access to the remote MASTER database to not have superuser access.

Here is what I tried:
- created a database and gave full permission to a sync user
- added the sync with bucardo (the database/table and sync), this works fine
  Once I started the bucardo the following error appears in t

[2014-05-09 22:00] anastrophe opened #84 "Feature request: Ability to roll bucardo logs"
Manually rolling the bucardo logs ('mv log.bucardo log.bucardo.0') then issuing a 'bucardo reload config', will generate a new log.bucardo file, however, the mv'ed file will continue to accumulate data, until you manually issue a 'bucardo stop' then 'bucardo start'.

It would be nice if the logs could be cleanly rolled without having to issue a full stop/start cycle.

This is only really relevant

[2014-07-21 09:14] RajanVillalobos opened #85 "auto start"
is there any way to start bucardo automatically at start up?

[2014-08-03 08:45] RajanVillalobos opened #86 "bucardo_abort not working"
using bucardo 5 the bucardo_abort conflict strategy not working with this configucation
`# bucardo show all
autosync_ddl              = newcol
bucardo_initial_version   = 5.1.0
bucardo_vac               = 1
bucardo_version           = 5.1.0
ctl_checkonkids_time      = 10
ctl_createkid_time        = 0.5
ctl_sleep                 = 0.2
default_conflict_strategy = bucardo_latest
default_email_from

[2014-08-05 09:58] RajanVillalobos opened #87 "Status does not feel if the slave is down"
I am using bucardo as third party to postgresql replication between two sites. everything ok except buacrdo status <sync_name>. I have a Master-slave sync on master server. when I poweroff the slave server and call buacrdo status <sync_name> on master sell Active

Last good                : Aug 04, 2014 03:55:02 (time to run: 1s)
Rows deleted/inserted    : 0 / 1
Sync name                : dodo
Cur

[2014-10-02 16:46] jingo76 opened #88 "Automatic re-activate of stalled sync"
Working with bucardo 5.1.1

My configuration is:
1 master db
2 slave dbs
1 relgroup (3 tables)
2 dbgroups (one for each slave with the same master)
2 syncs (one for each dbgroup) with full copy at startup

Translated in bucardo commands:

bucardo add db mydb name=masterdb host=hostmaster pass=**\* user=***
bucardo add db mydb name=slave1 host=hostslave1 pass=**\* user=***
bucardo add db mydb name=

[2015-01-06 12:13] umttt commented on #74
Hi. The problem still occurs in version 5.0.0. Is this solved in version 5.3.0 ?

[2015-02-04 16:29] ccutrer opened #90 "inheritance is not respected"
We have a parent table with child tables. After initial replication, all of the rows are duplicated - one copy in the parent, and one in the child. I _think_ all that needs to happen is that the original COPY TO needs to SELECT * FROM **ONLY** _source_table_. The triggers for continuing replication should properly fire on only the child or parent tables. We happen to not actually store rows in the

[2015-03-16 10:31] Paxa opened #91 "Downloads link in INSTALL"
Here https://github.com/bucardo/bucardo/blob/master/INSTALL
link to http://bucardo.org/wiki/Bucardo/downloads is broken

[2015-03-16 11:49] Paxa commented on #91
This also looks outdated https://bucardo.org/wiki/Bucardo/Installation

* bucardo instead of bucardo_ctl
* `bucardo_ctl add database <dbname>` should be `bucardo add db <<dbname> dbname=<dbname>`

[2015-04-20 08:42] voltmodder opened #92 "Could not find schema in target db when schema name is different on source and target db"
Hi!
I have 2 Postgresql databases on 2 servers both Postgresql has version 9.3.5,
both servers on debian 7. Bucardo version 5.3.1 installed on same server as
source db - db1.

On server 1 I have a db1 (source) with schema "core" and table "coretable1"
(for example).
On server 2 I have a db2 (target) with schema "corewh" and table "coretable1"
(for example) which structure identical to table in db1

[2015-04-20 08:43] voltmodder opened #93 "Foreign key restriction not work on target db"
Hi!
I have 2 Postgresql databases on 2 servers both Postgresql has version 9.3.5,
both servers on debian 7. Bucardo version 5.3.1 installed on same server as
source db - db1.

On server 1 I have a db1 (source) with schema "core" and table "client".
structure of table client is
CREATE TABLE core.client
(
  client_id bigint NOT NULL,
  client_type_id smallint NOT NULL,
  client_last_name character v

[2015-05-06 19:53] anastrophe opened #94 ""Exiting eval via redo at /usr/local/share/perl/5.10.1/Bucardo.pm line 1465.""
After an indeterminate uptime, my bucardo logs begin filling with this line, iterated (very approximately) about 3 times per second. Restarting bucardo will clear it for a while, but eventually it kicks in again.

bucardo v 5.3.1
debian squeeze 32bit
postgresql 9.1

[2015-05-25 14:34] contyk opened #95 "Unclear licensing terms"
The LICENSE and META files state this distribution is available under BSD license.
However, the README file says it's actually `same as Perl', i.e. `GPL+ or Artistic'.

Could you clarify which is correct and update the documentation, please?

[2015-07-06 19:48] yunjing opened #97 "Empty mode one-time-copy does not work for newly added tables"
Currently, empty mode for one-time-copy does not work properly when we add a new table to a herd while the herd already has non-empty tables. This is because the one-time-copy skip hash is keyed by dbname. To solve this issue, we need to clean up the flag for each goat. I have a PR for it: #96

[2015-07-15 05:22] arturgspb opened #98 "Bug. Mysql set transaction level"
Replacation Master Pg -> Slave MySql

"SET TRANSACTION READ WRITE ISOLATION LEVEL SERIALIZABLE"
https://github.com/bucardo/bucardo/blob/master/Bucardo.pm#L5164
This code do error with mysql 5.6.

Logs:
(23436) [Wed Jul 15 12:55:05 2015] KID (mysql_sync_delta) Warning! Aborting due to exception for public.employess:? Error was DBD::mysql::db do failed: You have an error in your SQL syntax; check th

[2015-07-29 16:55] FredyKonig opened #99 "Need to recreate /var/run/bucardo after reboot before bucardo start"
The **bucardo start** command complains about the folder /var/run/bucardo

The solution is to create the folder before the first "bucardo start"
 after a reboot the folder is not here any more.

It would be good to include the creation of this folder inside the bucardo command (if the folder does not exists)

Thanks

[2015-07-30 10:25] FredyKonig commented on #99
An solution:

nano /usr/local/bin/bucardo

...
sub start {

    ## Attempt to start the Bucardo daemon
    ## Arguments: none
    ## Returns: undef

    ## Write a note to the 'reason' log file
    ## This will automatically write any nouns in as well
    append_reason_file('start');
    print "Create pid directory: - $PIDDIR  - before start ";
    my $ouput_mkdir = `mkdir -p  $PIDDIR`;
    ## Ref

[2015-08-06 18:37] turnstep commented on #98
Thanks, fixed in 358ebf836762efaa3220abcd13807fbbf9a20514

[2015-08-06 18:37] #98 closed

[2015-08-06 18:39] arturgspb commented on #98
Thank you!

[2015-08-06 18:42] turnstep commented on #95
The correct is BSD. I removed the confusing bits of the README in 6f9243603e49e16606d2e58f8ed358fe1b988d9f

[2015-08-06 18:42] #95 closed

[2015-08-06 18:47] turnstep commented on #91
Thanks, I put a better link in the INSTALL and will update that wiki page at some point. :)

[2015-08-06 18:50] turnstep commented on #84
Please try out the "bucardo reopen" command; it should do what you need.

[2015-08-06 18:54] turnstep commented on #82
Thanks, looks like this was fixed.

[2015-08-06 18:54] #82 closed

[2015-08-14 19:00] badgerpants opened #101 "'--batch' not documented as necessary for non-interactive mode"
The docs suggest that one can run 'bucardo install' non-interactively by simply specifying a value for  the --bucardorc option. Lies! You have to also specify '--batch', an option which is not described in the man page or (from what I could see) any of the other documentation.

[2015-08-15 07:05] daisieh opened #102 "Can't add a sync"
Hi, I hope someone can help me! I've just set up bucardo 5.4.0 after deleting 4.4.8. I'm trying to sync Postgres databases and am running Postgresql 9.0. I dropped the old postgres bucardo schema and database and reinstalled bucardo from scratch.

I'm able to add dbs, tables, and herds, but when I try to add a sync, I get:

[code]

The only hint I can find online (here: http://comments.gmane.org/g

[2015-09-10 12:18] FredyKonig commented on #88
I had similar problems with many sync
  bucardo stop
  bucardo deactivate all
   bucardo validate all
   bucardo activate all
   bucardo kick all
then
   bucardo list sync
   bucardo start
And then my syncs came back to live! not straight forward!!

[2015-10-22 15:58] buukit opened #104 "Customname has significant flaws"
Hi,

Bucardo is amazing replication platform, but these is couple troubles / limits in configuration.

Our production environment contain dozens of Postgre databases.
I will replicate them into Amazon Postgres RDS so that multiple source/master databases will go into the same slave database, but own schema. The idea works fine, but bucardo configuration is a bit tricky.

1st issue: Can't set custo

[2015-11-06 08:29] brestows opened #105 "Don't reconect after network down"
Hello, there is the following problem in bucardo operation: if the server with bucardo loses connection, then bucardo doesn’t restore the connection, it trys to do it but fails. Its operation restore only after I reboot bucardo service. Here http://hastebin.com/hanosaxoze.coffee are the full logs of bucardo’s operation before it’s lost the connection until I reboot it. Here http://hastebin.com/paq

[2015-11-24 16:08] asierazaceta commented on #88
I found similar problems with bucardo v5.4.1 on Ubuntu 14.04.1LTS
In my case I've got two masters. The one running bucardo is a 24x7 running system, while the other comes off/on-line as we need.
Whenever the second master has been offline for a while, the sync is marked as stalled and trying to reactivate fails with a crash (Error in `Bucardo VAC.': double free or corruption (!prev))
I've just tri

[2015-12-01 14:54] victordem opened #106 "Failed configure MongoDB to Postgresql replication."
Hi.

Trying to configure MongoDB to Postgresql replication locally. Failed for now.
Following PG to Mongo works for me:
http://blog.endpoint.com/2011/06/mongodb-replication-from-postgres-using.html

The questions are:
1. Does Mongo to Postgresql replication works in Bucardo?
2. It p.1 Yes, can you please point me to any sample configuration?

With best regards,
Victor.

[2015-12-10 01:21] itamarjp opened #107 "test's fails when building bucardo as rpm"
please take a look ->

https://kojipkgs.fedoraproject.org//work/tasks/1780/12131780/build.log

[2015-12-14 12:58] itJunky commented on #72
I have a same error =(

[2016-02-22 18:44] cbandy opened #108 "Unable to add tables using "schema" argument"
`bucardo version 5.4.1`

When I try to name the schema using `schema=X`, I get a cryptic error. Using `--schema=X` or `-n X` works just fine.

[code]

[code]

[2016-02-29 09:47] jifeon commented on #101
+1

bucardo is awesome, but documentation is often outdated and it's really hard to find some things like `--batch`. Which is only mentioned on [this page](https://bucardo.org/wiki/Bucardo/install) try to reach it from the main page..

[2016-03-14 18:50] bajigit opened #109 "Issue with long table names"
Hi Team,

From the discussion on IRC channel, I am filing this bug report.

I see an issue with the long-name table. Below is a small test case:

Bucardo version: Bucardo 5.4.1
PostgreSQL: PostgreSQL 9.4.6
Created a table in source and target DBs.

CREATE TABLE "I_have_very_very_long_name_but_do_not_ignore_me_please"(id INT PRIMARY KEY, name VARCHAR);

Added DBs, tables and SYNC using below comman

[2016-03-15 00:47] jdmswong opened #110 "how to change bucardo config?"
Learning the tool, and receiving this error whenever I try to use it:
`FATAL:  password authentication failed for user "bucardo"`

All I have done is install it.  I was shown these setting before the installation was halted:

[code]

Not sure if postgres or anything else is causing this error... how to fix??

[2016-03-31 15:45] michaelcrobinson opened #111 ""add all tables" slows over time on many tables"
I guess this is less of an issue, more of an observation, since my use case is a little weird.

I have a database with over a hundred schemas across over a hundred tables. Needless to say, this results in a lot of tables, and I knew it would take a long time to run "add all tables". Something I noticed is that over time, it slowly started taking longer to add tables. Two hours in, the process had

[2016-04-14 13:44] asierazaceta commented on #105
Hi,
I've got a similar issue where, after the connection is lost, the sync si marked as 'active' but 'stalled' and it doesn't recover from that status when the connection is back. Then I've to deactivate, revalidate and activate the sync for it to come back.

This is quite critical for us as one of the masters is not always on, so we have to manually stop and start bucardo whenever it goes off/on-

[2016-05-02 14:45] mterrien commented on #105
Hi,

Do you have an update regarding this critical issue?
I upgraded from 5.3.1 to 5.4.1 thinking that it would solve this problem but it didn't.
It seems this problem exists since the start of release 5 and it has never been fixed.
bucardo revalidation + start/stop procedure is definitely not satisfying in production.

I upgraded from Bucardo 4 to 5 to solve the delta purge issue causing deadlock

[2016-05-02 14:46] mterrien commented on #88
Hi,

Do you have an update regarding this critical issue?
I upgraded from 5.3.1 to 5.4.1 thinking that it would solve this problem but it didn't.
It seems this problem exists since the start of release 5 and it has never been fixed.
bucardo revalidation + start/stop procedure is definitely not satisfying in production.

I upgraded from Bucardo 4 to 5 to solve the delta purge issue causing deadlock

[2016-05-02 16:54] mterrien commented on #105
I implemented the workaround for those interested.
I use bucardo with 2 servers and 2 different syncs (master/slave bucardo_source, master/master bucardo_latest).

Create a cronned task every 5 minutes for instance as below:
- /etc/cron.d/bucardoRestartIfStalled
[code]

- /opt/myProject/bucardoRestartIfStalled.sh
[code]

[2016-05-02 16:56] mterrien commented on #88
I implemented the workaround for those interested.
I use bucardo with 2 servers and 2 different syncs (master/slave bucardo_source, master/master bucardo_latest).

Create a cronned task every 5 minutes for instance as below:
- /etc/cron.d/bucardoRestartIfStalled
[code]

- /opt/myProject/bucardoRestartIfStalled.sh
[code]

[2016-05-03 13:01] eacshm commented on #88
Hi,

mterrien, your script get number of sync active?  To fix I look for sync not equal active.

I have the same problem and needed the follow commands to fixed a moment.

bucardo deactivate sync # change stalled to inactive on sync table
bucardo activate sync # don't change status, inactive yet
bucardo validate sync # change inactive to active
bucardo stop sync
bucardo start sync # sync work!

[2016-05-03 15:50] mterrien commented on #88
initially the code in my reply was:
`where status='stalled' `
but I modified it to:
`where status**=**'active' `
where it is indeed:
`where status**!=**'active' `

[2016-06-07 23:46] ly891001 opened #112 "Exiting eval via redo at /usr/local/share/perl5/Bucardo.pm line 1478"
I am trying to rotate bucardo log file and I got this error in the new log file after hit bucardo reopen.
Is there a way for me to have more information for this error?

[2016-07-21 14:24] jgallinari opened #115 "Memory footprint of a Bucardo Kid constantly increases"
Hi,
I have a simple postgreSQL master to slave replication based on Bucardo 5.4.1 with multiple herds and syncs, and I can see that the VSZ used by Bucardo Kids keeps on increasing over time.
This forces me to stop and start Bucardo regularly, which is not acceptable.

E.g.
USER        PID %CPU %MEM    VSZ   RSS TTY      STAT START   TIME COMMAND
postgres 115867  0.0  0.0 227912 24500 ?        S

[2016-07-22 17:13] jgallinari commented on #88
Hi,

None of the solutions proposed here worked for me.
The only way I found to pass a sync from stalled to active was to remove the sync and then add it again.
bucardo stop
bucardo remove sync my_sync
bucardo add sync my_sync relgroup=my_herd dbs=db1_db:source,db2_db:target
bucardo start

[2016-07-22 17:30] jgallinari commented on #115
Hi,
I tried to use the maxkicks=10 option when creating the sync in order to try to workaround this memory leak issue, but then I face a new problem after some time: the kids do not always exit properly, which leave multiple hanging kid processes in the end.

When this occurs (bad kid exit), here is what i found in the Bucardo log:

(19711) [Fri Jul 22 08:19:02 2016] CTL   stayalive: 1 checksecs:

[2016-07-23 10:48] andreas4all opened #116 "Custom triggers not firing"
Hi,

I have a master-master repllication on two postgresql servers. On both server I have a custom insert/update triggers. On first server where I make a change, there my triggers is firing (this is ok), but changes is replicated via COPY command to second server and there my triggers is not firing. Can you please help me?

[2016-08-29 14:07] bodedra opened #118 "FATAL: password authentication when bucardo add tables"
**System specification:**

 - Ubuntu 14.04
 - bucardo version 4.99.10
 - psql (PostgreSQL) 9.3.14

**What I have tried so far?**

I have created master database with openerp postgres user.

    - Setup Source Database

        export SOURCE_HOST=localhost
        export SOURCE_PORT=5432
        export SOURCE_DATABASE=master
        export SOURCE_USERNAME=openerp
        export SOURCE_PASSWORD=open

[2016-08-29 17:05] booleanbetrayal opened #119 "Feature Request: Selective Triggers"
We have a particular need (and if there's a potential workaround, I'm definitely all ears!) to support selective syncing of table operations. In our instance, we want to allow a particular events / auditing table grow indefinitely in our slave DB, but not necessarily in our master DB. The implementation idea is to allow for all other schema date to synchronize as usual, just not DELETEs on this sp

[2016-08-29 17:21] booleanbetrayal commented on #119
FWIW - londiste supports this through the `--tgflags` (trigger operation flags) switch. Might be a good convention.

[2016-08-29 19:35] nbrustein commented on #119
+1

[2016-08-30 14:17] bodedra commented on #118
I have solved problem with updating _pg_hba.conf_ configuration file.

[2016-08-30 14:17] #118 closed

[2016-09-21 19:12] olcrazypete opened #120 "Validation failing for smallint between postgresql 9.2 and 9.5"
Using version 5.4.1 of Bucardo from posgresql yum repo on centos 7

I have a table with a column 'tempature' defined as a smallint in the schema as follows -

   temperature smallint DEFAULT (-20),

9.2 and 9.5 seem to display this differently and I am getting a validation error and am unable to sync the table from 9.2 to a newly installed 9.5 server - both of which were installed using the same s

[2016-09-22 16:17] #90 closed

[2016-10-14 15:23] rmadiwale opened #122 "Cascaded Replication"
Is there any way where we can setup cascaded master --> slave --> slave replication using Bucardo ?
I was trying to implement mentioned scenario and were able to get data replicated from master to slave but from slave to salve it was not

[2016-10-14 17:02] machack666 commented on #122
Hi @rmadiwale,

You can set up a cascaded replication by setting up a 2-master cluster and additional targets off of the second master, basically treating the second master as read-only but not enforcing it.  (See the makedelta option for cascading changes)

An alternate approach would be to just set up a Hot Standby cluster and then then use that as the target in the Bucardo cluster; the Bucardo

[2016-10-14 17:02] #122 closed

[2016-10-19 16:06] einhverfr commented on #115
I have run into the same problem.  The issue in my case appears to leak after doing large updates or inserts from the master to the slave.  I don't know at present if it is a circular reference problem or something else.

For now I am restarting the service every day.  Is there anything I could get in terms of diagnstics to help?

[2016-10-25 03:28] hanks opened #123 "only partial tables are syned"
version: 5.4.1

db size: 110G

I use `onetimecopy=2` command like below:

`bucardo add sync sync_task_1 relgroup=herd1 dbgroup=dbgroup1 conflict_strategy=bucardo_source onetimecopy=2`

the result is only the 5G data is synced, some tables are 0 bytes.

I checked the log, no error happened. process is also exited normally, what is the reason?

Thank you for your time.

[2016-11-01 09:23] hanks commented on #123
seems fix in the master release, but not release yet

[2016-11-01 09:26] #123 closed

[2016-11-01 15:13] gustavovalverde commented on #99
¿No updates on this? cc: @turnstep

[2016-11-01 16:14] FredyKonig commented on #99
Hi gustavovalverde ,
there are 2 PR for it
https://github.com/bucardo/bucardo/pull/113 and https://github.com/bucardo/bucardo/pull/100
I recommend the 113
To the bucardo team please merge 113 and close 100, please.

Thanks

[2016-11-01 16:32] FredyKonig commented on #99
thanks machack666
https://github.com/bucardo/bucardo/commits/master/dist/bucardo.init?author=machack666

[2016-11-01 16:32] #99 closed

[2016-11-01 17:22] chall8908 commented on #116
Bucardo sets "session_replication_role" to "replica" when copying data.  You will need to alter your trigger to fire always (or have a separate one that fires during replication).  The default settings will cause your trigger to not fire when the database is in "replica" mode.

You can accomplish this with the [ALTER TABLE](https://www.postgresql.org/docs/9.4/static/sql-altertable.html) command.

[2016-11-03 12:02] gustavovalverde opened #124 "Bucardo add sync will hang forever"
I've installed bucardo a few times, but right now I'm with a weird situation in a client that I have no way to debug as the debugger says nothing:

When I execute the **bucardo add sync ...** it will start execution and then just hang there. The output of the log (with debug activated) ends here:

`DEBUG:  parse dbdpg_p5268_15: INSERT INTO bucardo.sync (name,conflict_strategy,herd,dbs) VALUES ($1,

[2016-11-03 13:28] machack666 commented on #124
Hi @gustavovalverde

This is either one of two things:

1) inability to connect to the remote server; you can test this by checking the connection with the relevant connection parameters from the server where Bucardo is running.  This could be a timeout, say, or a firewall issue, since this would apparently not be getting an explicit connection refused.

2) blocking while trying to run the remote

[2016-11-03 14:17] gustavovalverde commented on #124
After a few changes and adding the debug option in the destination database it seems to be an issue with the max_locks_per_transaction in PostgreSQL 9.3

After changing the parameter in the destination and restarting the Postgres server, all went back to normal.

[2016-11-03 14:17] #124 closed

[2016-11-03 14:39] gustavovalverde commented on #88
Will this be fixed in bucardo? Just today I realized that if one of the databases gets disconnected the whole process stops; which for a replication system is an overkill, as I then should add another tool that monitors bucardo and also an scripts as the one shown here to keep the process up.

But, also, if one of the databases goes down for a whole day, i feel like this will stall the whole sync

[2016-11-03 14:54] FredyKonig commented on #88
probably not fixed yet. In my case I have a separate script to re-activate the sync (from the commands mentioned above).
Having multiple server syncs would be ideal ... not sure if it is possible.... yet

[2016-11-15 18:44] josh-janrain opened #125 "bucardo is failing to sync tables with long identifiers"
[code]

[2016-11-15 20:12] machack666 commented on #125
IRC discussion indicates this issue is related to a leading int in the schema name.

[2016-11-15 21:23] #125 closed

[2016-11-15 21:24] machack666 commented on #125
fixed in 935caaaa6a015bd742d8d03e5c5ea1283db5dd2b.

[2016-11-16 11:05] rmadiwale commented on #120
Any update on this issue how to handle. I am also facing this issue with a DEFAULT of "(-1)".

[2016-11-16 22:34] machack666 commented on #120
I have a fix in a8f04b6.

[2016-11-22 10:52] hanks opened #126 "How to start a new sync?"
version: build from latest master

I can not find a way to start a new sync task properly. Now I just restart bucardo itself.

For example, I add a new sync task, and the status now is like below,  how to start the new one `task1`

[code]

I tried `activate`, `kick`, but it does not work.

And one more question,  if I restart bucardo, will it lose some sync data?

[2016-11-22 16:06] machack666 commented on #126
Hi hanks,

I think you're looking for `bucardo start sync`, but there should be no harm in restarting Bucardo; it stores state in the database as far as rows needing to be sync'd and will pick up where it left off.

As long as the sync is active when Bucardo starts it should be handled as expected.

HTH,

David

[2016-11-22 16:06] #126 closed

[2016-11-23 04:44] hanks commented on #126
@machack666 Thank you for your reply.

[2016-11-24 02:31] hanks commented on #126
@machack666 I tried command below

[code]

and it did not work

[2016-11-25 05:00] ghost opened #127 "authentication failed for user "bucardo""
DBI connect('dbname=bucardo;host=localhost;port=5432','bucardo',...) failed: FATAL:  password authentication failed for user "bucardo"
FATAL:  password authentication failed for user "bucardo" at /usr/bin/bucardo line 308.

[2016-11-28 16:40] machack666 opened #128 "Feature request: Make reason_file's path configurable via command-line"
From bucardo-general:

Hello

I have Bucardo running under postgres user. I am using init.d script to start/stop bucardo.

According to this:

if ('stop' eq $verb and $bcargs->{piddir}) {
   $STOPFILE = "$bcargs->{piddir}/fullstopbucardo";
   $REASONFILE = 'bucardo.restart.reason.txt';
   $REASONFILE_LOG = 'bucardo.restart.reason.log';
   stop();
}

Bucardo sets $REASONFILE to current dir if piddi

[2016-12-09 19:22] skaag opened #129 "Feature request: custom dsn= parameter"
The goal is to allow support for "interesting" connection strings, for example in the case of replicating to a MongoDB target, we want to support replicating data to a replica set.

An example replica set connection follows:

[code]

**Greg** thinks the DSN cam be stored in the bucardo.db.dbconn column

**David** thinks this should become a generic method for specifying a custom DNS, meaning, not

[2016-12-20 23:21] machack666 commented on #129
Preliminary support in cb3642f.

[2016-12-21 01:05] skaag commented on #129
Awesome! We will test this. Let me know how you want to collect the bounty!

[2016-12-31 17:34] machack666 commented on #129
@turnstep

As per testing, looks like this is incomplete; from the tester:

 It helps on first mongo db connection phase, but still uses mongo://localhost on actual data transfer

So it sounds like it works for the initial connection, but when new data gets synchronized it reverts to some default connection string

[2017-01-16 18:38] oviwankenobi opened #130 "master - master setup single point of failure"
in the master-master setup, if I understand correctly, bucardo is one point of failure, if the server the bucardo is installed on is going down there's no more replication and all the transactions while bucardo is down will be lost (not replicated); in the MySQL master-master if one server is down when it comes back up the replication starts where it is left of (in most cases).
so, **can we set up

[2017-01-16 19:53] machack666 commented on #130
Hi @oviwankenobi,

The individual changes to the database are queued up in so-called "delta" tables, so if the server where the Bucardo daemon is running goes down, the individual delta rows are still collected/maintained.  When the Bucardo daemon's service is restored these changes will be replayed.  (Of course, if the Bucardo daemon runs on the same server as one of the masters and is hosed, the

[2017-01-17 10:38] oviwankenobi commented on #130
ok, so I take it that bucardo master-master can not do what MySQL master-master setup can.
thank you for your time David

[2017-01-22 09:56] betterrdms opened #132 "RDS and Performance"
I am new to Bucardo. I got two questions. Appreciate your assitance

Here are the questions - 1. Can I run it in large production environment of the database size of TB
Second question - Bucardo has its own database. Can I use AWS RDS even for Bucardo's own database..this is basically a client requirement to ensure they don't need to manage another databse

[2017-01-24 14:37] vijaykrishnar opened #133 "DBI connect('dbname=bucardo;host=127.0.0.1;port=5432','bucardo',...) failed: fe_sendauth: no password supplied at ./bucardo line 308."
when i am trying to add source db to bucardo , i am getting
 DBI connect('dbname=bucardo;host=127.0.0.1;port=5432','bucardo',...) failed: fe_sendauth: no password supplied at ./bucardo line 308.

error.

Regards,
vijay

[2017-02-16 21:29] dcvii commented on #133
similarly: trying `bucardo install`
DBI connect('dbname=bucardo;host=localhost;port=5432','bucardo',...) failed: fe_sendauth: no password supplied at /usr/local/bin/bucardo line 9079.

[2017-02-24 18:46] #120 closed

[2017-02-24 18:58] #91 closed

[2017-02-24 19:06] machack666 commented on #115
Hi guys, the way Bucardo is designed (with the persistent KID process) means that once it's used up the memory the only way for it to reduce it is to have the KID die and be re-spawned.  The max_kicks param is what is intended for this.

We have recently fixed a few bugs in the respawn, so curious if @jgallinari still has the issues mentioned when using HEAD.  If so, can you provide any specific d

[2017-02-24 19:07] #130 closed

[2017-02-28 16:25] olcrazypete commented on #120
This did not seem to work for the issue I had in the original comment.

[2017-02-28 16:30] olcrazypete opened #135 "Inconsistency in strict_check usage"
In man page and documentation the tag "strict_check" is used, but in practice the flag is "strict_checking"

This throws error
bucardo update sync SYNCNAME strict_check=false
Invalid setting: strict_check

This works
bucardo update sync SYNCNAME "strict_checking"=false

Man page describes the flag as follows
       "strict_check"
           Boolean indicating whether or not to be strict when compa

[2017-02-28 17:58] machack666 commented on #135
Fixed in cd6fb9f.

[2017-02-28 17:58] #135 closed

[2017-03-17 23:20] sandyrandhawa opened #136 "Replicate Data from Postgres to Redis"
Hi,

Can anyone help to replicate data from postgres database to redis.

[2017-03-20 11:55] efendimansur commented on #127
Have you permit bucardo user to access bucardo database in /usr/local/pgsql/data/pg_hba.conf using password?

I suggest you can permit bucardo user to access all local databases. Just add this config in last line of pg_hba.conf :
host    all         bucardo          	x.x.x.x/32      trust

x.x.x.x is your server ip address.

[2017-03-20 11:58] efendimansur commented on #133
@vijaykrishnar

Have you permit bucardo user to access bucardo database in /usr/local/pgsql/data/pg_hba.conf using password?

I suggest you can permit bucardo user to access all local databases. Just add this config in last line of pg_hba.conf :
host all bucardo x.x.x.x/32 trust

x.x.x.x is your server ip address.

[2017-03-20 12:02] efendimansur commented on #133
@dcvii

I think you can try to add bucardo user and database in postgres :

CREATE USER bucardo SUPERUSER;
CREATE DATABASE bucardo OWNER bucardo;

Then you permit bucardo user to access all databases (pg_hba.conf).  Finally you can do command _bucardo install_ again.

Below are my configuration :
Current connection settings:
1. Host:           localhost
2. Port:           5432
3. User:           b

[2017-03-27 21:44] machack666 commented on #136
Hi @sandyrandhawa, Bucardo should support Redis as a target type; you would just need to specify the type in the `bucardo add db` line; e.g.:

[code]

HTH.

[2017-03-27 21:45] #136 closed

[2017-04-07 22:08] machack666 opened #137 "BZ #126: Customcode optional parameters bug"
extropye@gmail.com 2013-10-30 03:42:08 EDT
If you add some bucardo customcode as (according to man bucardo):
----------------
bucardo add customcode <name> <whenrun=value> <src_code=filename> [optional
information]
----------------
and set just 3 required options (<name> <whenrun=value> and
<src_code=filename>), then customcode will not work.

It happens because SQL-query (in bucardo application),

[2017-04-07 22:09] machack666 opened #138 "BZ #131: conflict strategy doc bug issue"
Vineet Menon 2015-06-12 04:40:54 EDT
Bucardo doesn't support 'bucardo_skip' conflict strategy which is desribed in
the man page.
Wiki at https://bucardo.org/wiki/Bucardo/Conflict_Handling rightly describes
only about 'bucardo_latest' and 'bucardo_abort'.

There are ambiguous information in both and prima-facie from the code it looks
like wiki is right.

[2017-04-07 22:12] machack666 opened #139 "BZ #124: bucardo crash on 'bucardo stop'"
Paul Theodoropoulos 2013-07-11 14:01:09 EDT
Created an attachment (id=19) [details]
Bucardo status, show, and relevant logs.

bucardo v5.0.0 from git repo.
debian v 6.0.7, 64 bit.
perl v5.10.1
postgresql v 8.4

I'm doing an initial buildout in a test environment. After setting up three
syncs, issuing a 'bucardo stop' sometimes results in the log output attached.
Also in the attachment is 'bucardo

[2017-04-07 22:13] machack666 opened #140 "BZ #127: Bucardo Fails to add table if db doesn't have password. Ignores pgpass file"
Chris 2014-01-19 13:46:41 EST
root@vipserver:/usr/local/src/dbixsafe# bucardo add tables
subscription_call_plan_prefixes subscription_call_plan_rates_base
subscription_call_plan_suppliers_rates_prefixes
DBD::Pg::st execute failed: ERROR:  DBI
connect('dbname=vip-consult.co.uk_portal','bucardo',...) failed: fe_sendauth:
no password supplied at line 62
CONTEXT:  PL/Perl function "validate_goat" at /

[2017-04-07 22:14] machack666 opened #141 "BZ #129: Could not find schema in target db when schema name is different on source and target db"
Algazin Andrey 2015-03-25 05:05:32 EDT
Hi!
I have 2 Postgresql databases on 2 servers both Postgresql has version 9.3.5,
both servers on debian 7. Bucardo version 5.3.1 installed on same server as
source db - db1.

On server 1 I have a db1 (source) with schema "core" and table "coretable1"
(for example).
On server 2 I have a db2 (target) with schema "corewh" and table "coretable1"
(for example) wh

[2017-04-07 22:15] machack666 opened #142 "BZ #130: Foreign key restriction not work on target db"
Algazin Andrey 2015-03-25 05:21:19 EDT
Hi!
I have 2 Postgresql databases on 2 servers both Postgresql has version 9.3.5,
both servers on debian 7. Bucardo version 5.3.1 installed on same server as
source db - db1.

On server 1 I have a db1 (source) with schema "core" and table "client".
structure of table client is
CREATE TABLE core.client
(
  client_id bigint NOT NULL,
  client_type_id smallint N

[2017-04-28 10:45] saifulmuhajir commented on #132
I don't know about the performance since I am replicating small tables. But, yes you can use RDS as source and dedicated instance as a target (with plperlu available).

There's no difference in steps. Just install bucardo on the target DB and continue with everything as instructed.

[2017-05-09 04:40] HaiquanHe opened #144 "could not serialize access due to concurrent update"
When Bucardo stop sync for some reason(like connection stall) for a long time, after re-active sync , it will error:
2017-01-05 22:34:22 EST xxx xxx ERROR:  could not serialize access due to concurrent update
2017-01-05 22:34:22 EST xxx xxx STATEMENT:  /* Bucardo 5.3.1 */DELETE FROM public.xxxxxx WHERE device_id = ANY('{{"xxxxxxx

when delta have a lot of data, it will take a long time to sync , l

[2017-05-09 09:42] oviwankenobi commented on #105
I have encountered this situation
this command "bucardo status" shows me state "Bad"

yet this command
psql -qAt -U postgres -d bucardo -c "select count(*) from bucardo.sync where status!='active'"

returns zero and shows the status as "active"...

how can I read correctly from DB when status is Bad?

thanks

[2017-05-09 11:14] oviwankenobi opened #145 "max_stack_depth error"
hi

I am seeing this error (see below) max_stack_depth related in bucardo log, I have changed the max_stack_depth in postgresql configuration file, I restarted the posgresql server and checked that value is changed to 4096 (max_stack_depth|4096|kB|superuser) but with no success, same error in bucardo log, can you please advise how to overcome this? thank you!

tail -n 100  /var/log/bucardo/log.buc

[2017-05-09 12:10] oviwankenobi commented on #145
I think I found hte issue, the error was coming from the remote postgresql not from local one. outch! sorry.

[2017-05-09 12:12] oviwankenobi commented on #145
yes, prblem was on the remote postgesql server. closing

[2017-05-09 12:12] #145 closed

[2017-05-11 22:11] longwuyuan opened #146 "conflict_strategy=bucardo_source NOT working"
Hi!

I'm trying to use bucardo for a db migration from stand-alone postgres to
aws rds, with about 250gb of data.
Since I don't want to overload the current database when setting up the
sync, I take the following approach:

1. Set up the RDS instance
2. Make a sql dump with pg_dump and restore it to rds
3. Set up a sync between the current master postgres and rds using bucardo
with pushdelta to on

[2017-05-15 09:04] chetankapoor commented on #110
Hi @jdmswong
I think you need to create bucardo database first in order to install it. Use following to create user and database
[code]

[2017-05-15 09:26] chetankapoor opened #147 "Add new tables to existing sync then it is not syncing"
Hi

I got some issue while I tried to add new tables in existing sync. But new tables was not syncing at all.
I did the following:
./bucardo add table public.test
./bucardo reload
Bit it doesn't work

 What are the steps to add new tables in existing sync..?

[2017-05-16 13:35] machack666 commented on #147
Hi, you can get support via the bucardo-general@bucardo.org mailing list.  Please see this page for details:

https://mail.endcrypt.com/mailman/listinfo/bucardo-general

[2017-05-16 13:35] #147 closed

[2017-05-16 13:38] machack666 commented on #146
Hi @longwuyuan, you can get support via the bucardo-general@bucardo.org mailing list. Please see this page for details:

https://mail.endcrypt.com/mailman/listinfo/bucardo-general

[2017-05-16 13:38] #146 closed

[2017-05-16 13:39] machack666 commented on #144
Hi @HaiquanHe,

Have you tried this in the latest Bucardo release?  I note you're using 5.3.1, which is quite old at this point.

As far as your specific question, you can get support via the bucardo-general@bucardo.org mailing list. Please see this page for details:

https://mail.endcrypt.com/mailman/listinfo/bucardo-general

Best,

David

[2017-05-16 13:39] #144 closed

[2017-05-16 15:31] longwuyuan commented on #146
Thanks @machack666 . We hope to see response here https://mail.endcrypt.com/pipermail/bucardo-general/2017-May/002902.html

[2017-05-29 08:59] patsevanton opened #148 "Try build from git bucardo-logfiles.patch: Hunk #1 FAILED at 135, 161."
**git clone https://github.com/bucardo/bucardo.git**
Initialized empty Git repository in /home/centos/bucardo/.git/
remote: Counting objects: 9068, done.
remote: Total 9068 (delta 0), reused 0 (delta 0), pack-reused 9068
Receiving objects: 100% (9068/9068), 8.79 MiB | 4.34 MiB/s, done.
Resolving deltas: 100% (5857/5857), done.

**Create tar.gz from repo and copy bucardo-logfiles.patch**

**rpmbuil

[2017-05-29 09:04] patsevanton opened #149 "Try build from git master-master-replication-example.txt': No such file or directory"
After commented string with 'patch'
https://github.com/bucardo/bucardo/issues/148
#Patch0:  bucardo-logfiles.patch
#%patch0 -p0

**rpmbuild -ba Bucardo-5.4.1/dist/bucardo.spec**
...................................
+ install -Dp -m 644 /home/centos/rpmbuild/SOURCES/master-master-replication-example.txt .
**install: cannot stat `/home/centos/rpmbuild/SOURCES/master-master-replication-example.txt': N

[2017-05-31 08:01] vivekanandg commented on #132
No you cannot use rds for the target db or bucardo's own db. This is because rds doesn't give you the full superuser access.

ref: https://serverfault.com/questions/661661/why-cant-i-create-a-superuser-in-aws-postgresql-instance

[2017-06-01 09:15] analytically commented on #132
There's the `rds_session_replication_role` approach documented here: https://www.compose.com/articles/using-bucardo-5-3-to-migrate-a-live-postgresql-database/

[2017-06-01 09:34] vivekanandg commented on #132
Thank you. This is nice.

[2017-06-05 10:03] needf opened #150 "bucardo add sync failed"
bucardo add sync failed ,the log is
 "Failed to add sync: DBD::Pg::st execute failed: ERROR:  DBD::Pg::db do failed: ERROR:  deadlock detected
DETAIL:  Process 33477 waits for AccessExclusiveLock on relation 6680077 of database 1270703; blocked by process 78287.
Process 78287 waits for AccessShareLock on relation 1270891 of database 1270703; blocked by process 33477.
HINT:  See server log for quer

[2017-06-05 18:59] machack666 commented on #150
Hi @needf; the approach to fixing it depends on if this is repeatable or not.

Can you post your question along with any relevant logs and the output of "bucardo list all" to the bucardo-general mailing list?  This is where we handle support requests.  (You can find list info here: https://mail.endcrypt.com/mailman/listinfo/bucardo-general)

Best,

David

[2017-06-05 18:59] #150 closed

[2017-06-08 16:30] 131 opened #151 "bucardo_compress_delta & very big bucardo_track table"
I've got a very big bucardo_track table (5M line+).
Will the maintenance function bucardo_compress_delta  able to reduce it ?
Is it safe for me to setup a monthly crontab & trigger this query ?

There is very little information in the documentation about it, i want to make sure i'm not going to trash my setup

Thank you for your help

[2017-07-05 12:49] vivekanandg opened #152 "Filtering while replication"
Is it possible to filter out some rows during bucardo replication?
I've looked at customcols, but it doesn't seem to serve this purpose.

I've read somewhere that setting custom triggers can solve this. Has anyone tried this approach?

[2017-08-08 14:53] gustavotonini opened #153 "Bucardo stuck after connection problems"
Hi team,
We have a bucardo setup with 4 databases in multimaster mode. One of them goes offline frequently due to problems in an Internet link.

When this database comes back online after some minutes, bucardo continues with "Bad" status indefinitely and needs to be restarted (kicking the sync does not help too) to return to normal operation.

[2017-08-21 02:42] ewezhai commented on #115
@machack666,which values should the maxkicks be configured in default is good?Or how to get the suitable value according to my hardware's memory?

[2017-08-21 13:56] machack666 commented on #115
@ewezhai Generally the excessive memory usage would happen if there big backlogs of changes which need to be processed.  If you're using `autokick` to trigger the changes automatically, you should fairly happily processing things under normal load without issue, unless there is a huge bulk operation (say an update of an entire large table).

There is no default value for `maxkicks` (well, technica

[2017-08-29 15:13] dojodominator commented on #153
I'm seeing the same thing in a multi-maser replication environment.  In the logs, I get the ling "VAC Warning! VAC was killed at line 7697: DBD::Pg::st execute failed: no connection to the server at /usr/local/share/perl5/Bucardo.pm line 7697"  At that point, it looks like the VAC process is dead, and no attempts are made to ever update the state of the database to 'ACTIVE' from 'STALLED'.  What i

[2017-08-29 15:15] dojodominator commented on #153
I would recommend also setting the database (and sync) to active as part of the VAC loop which periodically attempts to connect on failed connections, or when the KID starts when the connection is reestablished.

[2017-08-29 19:07] dojodominator commented on #152
I have not yet, but I am looking to do row level replication filtering

[2017-08-30 15:06] dojodominator commented on #153
After more digging, I'm now thinking that the issue is that the NOTIFY trigger does not work after the connection is lost and restored.  Setting the 'expiretime' variable enables the sync to continue to work based on the timeout.

[2017-08-30 15:42] gustavotonini commented on #153
Expiretime? There is no reference to this variable in the code...

[2017-08-30 16:30] dojodominator commented on #153
sorry, "checktime" variable.

[2017-08-30 18:28] gustavotonini commented on #153
Theoretically, setting checktime variable would force a kick in the sync periodically. In my test case, kicking the sync manually does not work too. We also tried to execute a kick every 5 minutes using crontab.

[2017-08-30 18:43] dojodominator commented on #153
hmmm... "checktime" causes the sync to still work for me, even though the database and sync remain in the "stalled" state indefinitely.  I haven't figured out how to get the database and sync back into the active state without restarting bucardo.

[2017-08-30 18:45] gustavotonini commented on #153
How many seconds did you set on checktime? I will try it too

[2017-08-30 19:36] dojodominator commented on #153
30 seconds

[2017-08-30 19:37] dojodominator commented on #153
I don't think that {DB} ever has any values here: https://github.com/bucardo/bucardo/blob/5.4.1/Bucardo.pm#L1648

[2017-08-30 20:29] dojodominator commented on #153
Check out the branch I'm working for progress on this.  So far, I have the database and sync being remarked as active, and I'm just trying to figure out how to reconnect the NOTICE from the remote db.
https://github.com/bucardo/bucardo/compare/5.4.1...dojodominator:restore_syncs

[2017-08-30 22:57] gustavotonini commented on #153
My customer hired a better Internet provider, so the problem is not happening frequently. Otherwise I could test your patch there.

You may submit the PR to see the comments from core developers.

[2017-09-25 16:44] gustavotonini commented on #153
Even using a better Internet link, the problem happened again and I discovered some things:
1-bucardo status shows state "Begin txn..."
2-killing all bucardo sessions on all nodes makes bucardo to go back to life
3-There is an idle session on one of the nodes that has just executed "DBD::Pg::ping"

So I think the problem is related to ping check. The Internet link probably went down during ping ch

[2017-10-18 18:45] einhverfr commented on #140
I have monkey-patched this in production.  The specific problem here is that we are forcing a password in, while it should be set to undef if no password found.

[2017-10-18 18:50] einhverfr opened #155 "validate_sync fails if replicating to new schema"
Steps to reproduce:

1.  Create source and target databases.  Source has schema a, target has schema b
2. Add tables from source database, schema a
3. Add custom names moving database from schema a to schema b.
4.  Try to add sync

What happens:

validate_sync complains because schema a is not found on target db and throws an exception making sure you cannot add the sync.

This happens because the

[2017-10-18 18:54] einhverfr opened #156 "Recommendation: set session_replication_role only if user is superuser"
I use bucardo for a number of things.  It is a very capable, powerful database replication toolkit.  I use it for consolidation, reporting, and even migration of databases.  Recently I had to replicate some data from one db to another (partial set of tables), and I don't have superuser access to the other database.

I found in this case I had to disable setting the session_replication_role.

I wou

[2017-10-20 15:58] oviwankenobi commented on #144
hi
I have exactly the same issue described by @HaiquanHe
any chance anyone can give me some advice how to fix it?
the deltas are growing each minute and the sync between the two DBs is blocked

thank you very much
Ovi

[2017-10-24 11:23] iamveritas opened #157 "could not serialize access due to concurrent update"
hi
We have exactly the same issue described by [@HaiquanHe](https://github.com/bucardo/bucardo/issues/144), only that we have Bucardo 5.4.1 and postgresql 9.6

"When Bucardo stop sync for some reason(like connection stall) for a long time, after re-active sync , it will error:
2017-01-05 22:34:22 EST xxx xxx ERROR: could not serialize access due to concurrent update
2017-01-05 22:34:22 EST xxx xxx

[2017-10-25 14:38] machack666 commented on #157
Hi @oviwankenobi thanks for the report on the mailing list breakage; we think we've fixed that now.

[2017-10-25 15:52] machack666 commented on #157
@oviwankenobi one thing you could try is to disable the `quick_check_delta` for the sync.  i.e.,:

[code]

You might also be able to adjust the `transaction_isolation_level` as well.

[2017-10-25 17:14] oviwankenobi commented on #157
I've tried the quick_check_delta=0 not the adjusting the transaction_isolation_level
no success
I ended up purging all deltas, deleting all bucardo settings (sync, db groups and relations, triggers, etc) and re-initializing the objects up to the sync object; now it good again.
hopefully next time when it goes bonkers we'll notice it early enough to not have so many deltas, in which situation it se

[2017-11-02 13:42] deepakputhraya opened #158 "Deadlock when adding sync"
When trying to create a sync.
```./bucardo add sync the_sync relgroup=copying_herd dbs=source_db:source,dest_db:target onetimecopy=2```

 I get the following error:
[code]

I am trying to migrate from a self-hosted Postgresql to RDS.

[2017-11-15 08:53] saifulmuhajir opened #159 "Switch between source and target?"
First of all, I thank you for this awesome project. It is really helpful for many of our cases.

We have setup source (S) and target (T) and it works fine. Now, how do I easily switch the hosts on the sync to be (S) is the new target and (T) is the new source?

Do I do this by creating new sync and remove the old one, i.e: create new sync with (T) as source and (S) as target? Or is there any other

[2017-12-11 08:15] mailbaoer opened #160 "ERROR: relation "bucardo.bucardo_truncate_trigger" does not exist"
I use bucardo  to export data from aws rds, when I run bucardo start，I saw the log
`
23691) [Mon Dec 11 16:03:24 2017] MCP Starting check_sync_health
(28658) [Mon Dec 11 16:03:35 2017] KID (the_sync) New kid, sync "the_sync" alive=1 Parent=23731 PID=28658 kicked=1
(28658) [Mon Dec 11 16:03:35 2017] KID (the_sync) Kid has died, error is: DBD::Pg::st execute failed: ERROR:  relation "bucardo.bucardo

[2018-02-15 04:48] makeittotop commented on #160
I've also experienced the same issue today while using bucardo on premise. Any help or pointers would be greatly appreciated.

[2018-02-22 03:16] saifulmuhajir commented on #160
`bucardo.bucardo_truncate_trigger` should be there when sync is created. If it is not, most probably the installation was failed at some point.

You can find the information about the relation [here.](https://github.com/bucardo/bucardo/blob/cf5988d735e3213982b68dcea6ff60ab07535e88/bucardo.schema#L1989)

[2018-02-22 03:19] saifulmuhajir commented on #158
Adding sync will definitely require **exclusive lock**. I am sure this can be improved, but for the moment, you will need to make sure that no one is accessing the database during sync creation.

[2018-02-28 06:53] phips28 commented on #140
@einhverfr
any idea how to fix that?
I have my passwords in the .pgpass file.
can you help me please?

[code]

The `add sequences` worked:
`bucardo add sequences ocean_01.global_id_sequence db=waves_stag_old herd=waves_stag_old_group1 --verbose`

[2018-02-28 07:08] phips28 commented on #140
I added the password to the database `add db ...pass=xy`
this works.

[2018-03-02 12:46] sourvil commented on #152
Is this filtering ready?

[2018-03-05 17:53] fpuga opened #161 "Bucardo master fails to recognize correct pg version"
I make a fresh install of pg v9.6 from the pgdg repo in a vagrant box.

I downloaded bucardo from master ( 272cbe5c ) and install, but an error is shown about the postgres version.

[code]

I found this [thread in the mailing list](https://mail.endcrypt.com/pipermail/bucardo-general/2017-November/002970.html) but still seems to no be fixed.

This is also happeing with the last release available 5.

[2018-03-14 19:53] dwardu89 commented on #133
@vijaykrishnar Try setting the value in the pg hba conf to md5
This method is probably overkill, but its worth trying. I had the same problem and it worked.

`
# TYPE  DATABASE        USER            ADDRESS                 METHOD

# "local" is for Unix domain socket connections only
local   all             all                                     md5
# IPv4 local connections:
host    all

[2018-03-14 19:59] dwardu89 opened #162 "Error when trying to sync a database that is being synced with another database using bucardo"
Hello,
I currently am working on a solution to use bucardo for database backup and restore.
Currently the setup is as follows:
There is 1 instance of `Bucardo 5.4.1` running on CentOS 7. It is pulling from a Source Database, and dumping on to the target database in real time.
That same instance of bucardo is then syncing the target database with another database to simulate a restore. However this

[2018-03-15 18:29] frosty5689 opened #163 "Bucardo 5.4.1 strict_checking=false not working"
Hi,

I am trying to use customcols to sync to another database but only select columns. I have tested customcols and it works to allow tables with missing columns to sync. But ran into a problem with MCP sync validation when bucardo first starts.

Here's the log

(3393) [Thu Mar 15 18:11:49 2018] MCP Warning: Source database for sync "test_sync" has column "test_user_id" of table "public.users", b

[2018-03-16 14:51] dwardu89 commented on #163
As far as i know, that would work if you have `allowonetimecopy=2` What's the setup of your sync?

[2018-03-17 22:45] jonjensen commented on #162
@dwardu89 It looks to me like most of the changes since Bucardo 5.4.1 were for testing and logging, so it should be pretty safe to upgrade.

@machack666 Do you have any concerns about running the latest from Git?

[2018-03-17 23:51] dwardu89 commented on #162
@jonjensen if that's the case, it might be best to create a release of Bucardo 5.5.0 if @machack666 is happy with the state. The problem is that there are two tests failing when i pulled 5.5.0.

[2018-04-04 15:56] joshuabaird commented on #75
This has regressed in 5.4.1.

[2018-04-04 15:58] joshuabaird opened #164 "bucardo install ignores --dbuser"
This was apparently fixed over in #75, but it looks like the fix was reverted as it's not present in 5.4.1.

[2018-04-04 16:09] machack666 commented on #75
Thanks for the report; fixed in a71482ad.

[2018-04-04 16:27] GGeorgi commented on #110
same here
on local machine works but on server it is not working
I also can connect to db like this
[code]

in pg_hba.conf I have this configs
[code]

installation going ok:
[code]

but after I got error:
[code]

[2018-04-04 16:29] machack666 commented on #164
Fixed in a71482ad; thanks for the report.

[2018-04-04 16:29] #164 closed

[2018-04-04 17:00] GGeorgi commented on #110
problem fixed by adding to pg_hba.conf this line
`host    all             bucardo             ::1/128                 trust`

[2018-04-04 18:23] joshuabaird opened #165 "Bucardo 5.5.0?"
Is there anything preventing a version bump to 5.5.0?  I see that `master` is at 5.5.0 and 5.4.1 was released back in 2016.

[2018-04-04 18:25] machack666 commented on #165
Hi @joshuabaird I'm actually in the process of preparing said release.  Working through a few of the open issues to see what other blockers there might be, then will roll it out fairly soon.

[2018-04-04 18:25] #165 closed

[2018-04-04 18:27] joshuabaird commented on #165
Great - thanks.  Do you have any idea on a timeframe?  1 day. 1 week, 1 month?

[2018-04-04 19:25] machack666 commented on #165
I'd say closer to a week than the other two.  It really depends on tuits and which issues we want to close before.

[2018-04-18 01:31] borball commented on #162
@dwardu89 Have you resolved the issue somehow?

[2018-04-20 14:38] dwardu89 commented on #162
@borball I ended up cleaning the bucardo database that was created in the source database. Then it clears it up.

[2018-04-20 14:56] borball commented on #162
@dwardu89 Thanks, I found my issue was one special bucardo trigger (to kick replicaiton) was somehow deleted by mistake, it works now after I created it back.

[2018-04-24 02:47] 858659744 commented on #152
I'm trying Bucardo-5.4.1 the feature [CustomSelect](as said merged to CustomCols).
Couldnot add row filter on sync，but only columns.
Any one could give some suggestions?
---------------------------------------------------
I find the explaination here(https://bucardo.org/Bucardo/customselect/)

[2018-05-12 09:24] Teetoow opened #166 "FreeBSD rc script failed during boot time"
Hi,

The bucardo rc script is not working properly during boot time since FreeBSD forces the PATH environment variable which no more contains /usr/local/bin where perl is installed (check /usr/local/sbin/service for that purpose). Thus the "env perl" failed and bucardo cannot be executed.

A workaround is to add to /usr/local/etc/rc.d/bucardo:
PATH=$PATH:/usr/local/bin

And bucardo can be launched

[2018-05-23 12:52] crisistotal2014 opened #167 "Failure on "bucardo status <sync>""
Hi!
I'm using Bucardo v5.5.0 to replicate an AWS PostgreSQL to a OnPremise PostgreSQL and seems changes on tables are being replicated fine.
But when I've executed this command: bucardo status bookingbl
I've got this output:

log.bucardo shows all is running fine:

"source_db" is an AWS database and "dest_db" is an OnPremise database.
Replication user is granted to use a SUPERUSER role and can exe

[2018-05-23 14:06] crisistotal2014 opened #168 ""bucardo remove all sequences" command fails on answering"
Hi!
"bucardo remove all sequences" command fails on answering "y" (using "1" doesn't do anything).

Using this command:
bucardo remove all sequences
remove sequences but shown failures

Please, can be fixed this?

Thanks!

[2018-05-23 14:18] crisistotal2014 opened #169 "bucardo message "<some text with!>" fails"
Hi!
I've detected when I want to print a message (with an exclamation) on log file through:
bucardo message "<some text with!>" fails like this:
-bash: !": event not found
and no line is added on logfile.

This seems a fatal security error.

Please, can fix-it?
Thanks!

[2018-05-23 14:25] machack666 commented on #169
Hi @crisistotal2014,

This is coming from your shell, not Bucardo; you can see a similar effect via:

[code]

As such, you just need to escape in the normal way, via \! or single-quoted strings.

Best,

David

[2018-05-23 14:25] #169 closed

[2018-05-23 14:31] machack666 commented on #167
Hi, you've tested `set session_replication_role=replica` on both databases and as the `bucardo` user (or whatever you're using as the replication user)?

[2018-05-24 07:00] crisistotal2014 commented on #167
Sure!
User I'm using for replication (not "bucardo") can do: set session_replication_role=replica;
on source and target PostgreSQL databases.

My current config (got with: bucardo show all) is:

How can I enable more verbose Bucardo commands?

[2018-05-24 07:12] crisistotal2014 commented on #169
Sure!
In this case, can you change text entry on help from:
"message <body>"
to a more clean text, like:
"message '<body>'"

Thanks!

[2018-05-24 23:07] jonjensen commented on #169
@crisistotal2014 Sure, we can do that. I just pushed out a change.

People still need to understand shell quoting context, since `message '...'` will go wrong if they have a `'` in their message body. But maybe the change will help someone.

[2018-05-24 23:09] jonjensen commented on #166
@Teetoow That's good to know. Would you like to submit a pull request that would update the docs or otherwise help FreeBSD users deal with this?

[2018-06-06 21:21] bingzhao-tc opened #171 "Can not sync new table added into the exist sync"
bucardo version 5.4.1

add new table to an exist sync, commands as follow.

From log

**> (8535) [Wed Jun  6 17:04:10 2018] KID (the_sync) Setting push_rows to fullcopy mode

[2018-06-07 20:09] bingzhao-tc commented on #171
Grab the code from 5.5, works.

[2018-06-07 20:09] #171 closed

[2018-06-21 05:34] Markus- opened #172 "Likely offtopic: https://bucardo.org/postgres_all_versions.html not uptodate"
Hi,

your awesome overview page https://bucardo.org/postgres_all_versions.html is kind of outdated. Did I miss anything and you won't update this page?

It was always kind of useful for us.

Regards
Markus

[2018-06-25 08:34] crisistotal2014 commented on #167
Please, do you have any recommendation?

[2018-06-25 08:34] crisistotal2014 commented on #168
Please, do you have any recommendation?

[2018-06-25 13:43] machack666 commented on #172
This has been updated, and we're working on a fix to always update this.

[2018-06-25 13:43] #172 closed

[2018-07-30 18:03] kotsachin commented on #120
Hi Guys,

It is said above that the above mention problem is solved but I am still facing same issue.
I am migration from PostgreSQL 9.3 to PostgreSQL 10.4.

Sync validation is failing with error is as below :
`107408) [Mon Jul 30 15:32:57 2018] MCP Inspecting target table "archive.ifta_fuel_file_record_p2017_06" on database "xrs_new9_target"
(107408) [Mon Jul 30 15:32:57 2018] MCP Inspecting sour

[2018-08-13 13:06] tbtommyb commented on #133
For anyone running into this problem, make sure that you add `host all bucardo 127.0.0.1 trust` (or similar) near the top of `pg_hba.conf`. If another matching rule is above it then it won't hit the new rule. Postgres logs should show which rule was selected if you run into problems.

[2018-08-23 10:20] gramki opened #173 "Online documentation is quite broken"
Many links like the below give 404:
https://bucardo.org/Bucardo/FAQ.md
https://bucardo.org/Bucardo/bucardo.md

Linked from main doc page:
https://bucardo.org/Bucardo/

[2018-09-10 07:56] danieltanfh95 commented on #160
still having this problem.

Solution:

1. Create the table manually using
[code]

2. Restart bucardo.
3. After adding a new table (not the table above), update sync with all relgroups and herds. Restart bucardo again.

[2018-09-10 14:56] machack666 commented on #160
I would also be concerned about the installation having not completed; if this specific table was missing there are likely other pieces which did not get completely set up.

[2018-09-10 15:04] machack666 commented on #160
@danieltanfh95 Was this an existing Bucardo installation that was upgraded, by chance?

[2018-09-10 15:06] danieltanfh95 commented on #160
@machack666 this was on fresh installations, using bucardo 5.4.1, it was tested about a dozen times, all of my installations failed to create that table.

[2018-09-10 15:07] machack666 commented on #160
@danieltanfh95 so complete teardown/rebuild?

[2018-09-11 12:49] danieltanfh95 commented on #160
@machack666 yep, complete teardown/rebuild of everything, fresh installs of pgsql 10.

I've done some testing just now again, and so far simply adding the table works, even though the table itself isn't used (iirc)

[2018-10-17 05:27] luss opened #176 "Can we cut 5.4.2"
Seems to me there have enough usefull/stable things checked in over the last two years to tag & release.   I think it's important, at the very least, to demonstrate that this project is far from dead.   If y'all feel there isnt enough new functionality to call it 5.5.0, then please call it 5.4.2.

[2018-10-17 14:01] machack666 commented on #176
Hi @luss agreed on this.  We can roll 5.5.0 soon; I'll try to mop up some of the outstanding bugs/issues or at least triage and see if there is anything particularly egregious which would need to be fixed prior to a release.

[2018-10-24 23:26] gustavotonini opened #177 "High memory usage"
Hello,
We have a bucardo setup with 14 dbs and 91 syncs due to the requierement of continuing to replicate among other nodes when one of them goes down.

Bucardo is using 36GB of RAM and sometimes some syncs get stuck.

Is there a way to optimize this scenario?

[2018-10-31 14:27] dlucredativ opened #178 "bucardo is not postgresql 11 compatible"
Bucardo relies on `pg_class.relhaspkey` which does not exist in pg11 any more.

[2018-10-31 14:37] machack666 commented on #178
Thanks, will look for a workaround.

[2018-10-31 14:48] machack666 commented on #178
Pushed what should be a backwards-compatible change in 2358ada.  Can you test/confirm this works for you?

[2018-10-31 15:43] dlucredativ commented on #178
It seems to work, at least my check_postgres_replicate_row is fine now.

[2018-11-05 08:26] mridude23 opened #179 "Add table to replication with different primary key"
Hi all,

Hit some sort of limitation (maybe) when adding tables. I have a table that does not have a primary key, but it has not one but 2 unique indexes. When adding the table to the replication flow it adds the first unique index for that table (it seems it takes it alphabetically) when in fact I want to add it with the second one.

Changing it in goat table throws the following error:
`Could no

[2018-11-05 14:22] mridude23 opened #180 "Could not serialize, will sleep for 0.5 seconds"
Hi,

As the title suggests I keep getting these kind of errors and it interrupts all the flow for that sync.
For example, I have about 80 tables in a sync, but for now only about 20 of them have data in delta tables waiting to be replicated.
These tables will need to replicate in 4 different targets. 2 of them succeed, but 2 of them fail with `Could not serialize, will sleep for 0.5 seconds` which

[2018-11-05 15:02] machack666 commented on #179
Hmm, in theory this should be possible; these are both unique not null indexes?

[2018-11-05 15:09] mridude23 commented on #179
Yes, I managed to do it another way meanwhile.
Remove that table from replication, transform an index to primary key (as it should have been from the start) and re-add it. This time it was added with the primary key as expected.
I think it has something to do with the fact that it was failing with some other errors and I purged the delta tables multiple times making the dbs very out-of-sync. (this

[2018-11-05 15:11] machack666 commented on #179
Ok, will close this issue.  Thanks for the report.

[2018-11-05 15:11] #179 closed

[2018-11-08 03:31] debasismaity opened #181 "Bucardo host replication"
Hi

We are using Bucardo to achive master-master solution.We have separate host where Bucardo is installed and it is used to provide sync solution in master site A.Now in Master site B there is no Bucardo host.So in the case of complete failure of master site A,How we can failover/switchover to bucardo host in master site B?Is it possible?

![image](https://user-images.githubusercontent.com/212741

[2018-11-08 14:39] mridude23 commented on #180
Hi guys,

Anyone with ideas? I seem to keep getting these, but for now no idea how to tackle them.

[2018-11-08 16:04] machack666 commented on #180
How much traffic is on this machine?

[2018-11-08 16:10] mridude23 commented on #180
Referring to traffic/sec? When the issue arose, did not see more than 2-4 MB/s.
What's weird is that I have 3 more syncs that do the same thing and no issues there. Also all of these are in the same network, a gigabit one. so it should not be a network issue in my opinion.

[2018-11-08 16:19] machack666 commented on #180
What does `SHOW transaction_isolation` and `SHOW default_transaction_isolation` show on the nodes in question?

[2018-11-13 08:29] mridude23 commented on #180
Edit: Still having this issue, for the same server. Did not mention, Bucardo 5.4.1. From what I can gather, something happens and the sync somehow fails to do it's job. Checked the logs but can't find what it actually happens. For example:
- had a sync that failed because it was not available anymore in sync table (failing with violation when inserting in syncrun)
- some errors later, all syncs di

[2018-11-19 09:11] mridude23 opened #183 "Sync's give notify interrupt"
Hi,

I have the following setup:
- 8 syncs, 2 different data centers, same 80 tables to replicate for each sync.
The first time I start (or restart) Bucardo everything goes as expected, data is replicating and so on.
After a time (maybe 24-48 hours), I can see all of my syncs in the following state:
 65545 ?        Ss     0:00 postgres: bucardo bucardo [local] notify interrupt
 65546 ?        Ss

[2018-11-20 08:10] mridude23 commented on #183
I think I found the culprit. From time to time, on all syncs and not at the same time, I encounter the following:
`Checking truncate_trigger table on database "master_database_name"`
It seems that here it blocks and sometimes even stays like this for 6-7 hours or more. It recovers by itself but something seems out of order here for me.

**Note:** We never do truncates on the master. I was thinking

[2018-11-20 13:18] mridude23 commented on #180
This issue seems to be resolved on Bucardo 5.5.0. Although I'm having some other issues, this one will be closed. If it resurfaces, I will reopen it.

[2018-11-20 13:18] #180 closed

[2018-11-20 13:31] machack666 commented on #183
Okay thanks for hunting that down. Will give that an eyeball and see what I can see.

[2018-11-21 08:41] mridude23 commented on #183
Update:
- still the same issue today
I tried to move some of the processes that are running on that database at some other hours so that the server is more relaxed in terms of CPU usage at least. Unfortunately this did not help.

Was thinking of changing some of the sleep parameters. Let me know what you think.

[2018-11-22 09:20] mridude23 commented on #183
**New update:**
**Changed few things:** the replication is now comprised of only 2 flows and quick_delta_check is set to 0, previously was set to 1.
**Results:** No syncs blocked in notify interrupt. Execution time for Checking truncate_trigger started from 0.2 sec for 1 row to about 5~6 sec for same row, in time.

I'm gonna attach down below a truncated version of the log in debug mode for some c

[2018-11-23 07:38] mridude23 commented on #183
**New update:**
Running the replication with 6 syncs from yesterday. All good so far, passed the critical moment where they were dying.

[2018-11-23 15:41] mridude23 commented on #183
Side note:
I'm gonna leave a question here because the chat keeps disconnecting me and I'm not aware if anyone answered or not. (not gonna open a new task for this)
What happens in the destination, when I have a table that is referenced by other tables and the FK is set with update cascade delete cascade?
In the master, an update runs and only changes a field for row from that table, it will delet

[2018-11-23 20:58] machack666 commented on #183
If you have a sync with related tables, all of the related tables should also be in the same sync. Bucardo uses session_replication_role to avoid further trigger firing on the replica so you'd need to capture any dependent action (cascading delete say) on the master and propagate the effects to the standby.  Updates would work similarly, just capturing dependent changes.

[2018-11-26 08:13] mridude23 commented on #183
**New update:**
It's Monday :) All syncs running as expected.
Reiterating some things:
1. Can you let me know what's the actual use of quick_delta_check?
2. > so you'd need to capture any dependent action (cascading delete say) on the master and propagate the effects to the standby. Updates would work similarly, just capturing dependent changes.

From what I tested, Bucardo does that for me; it "c

[2018-11-29 04:31] rlafferty commented on #173
Looks like the online documentation has recently been updated, and the links work correctly now (note the URIs have changed from what you have listed above).
* FAQ: https://bucardo.org/Bucardo/FAQ.html
* bucardo: https://bucardo.org/Bucardo/bucardo.html

I'd say it's probably safe to close this?

[2018-11-29 15:18] machack666 commented on #173
Thanks for checking in; yup, let's close it.  There are definitely a lot more things that could be improved about the docs, but we did an initial pass to try to correct any broken links.

[2018-11-29 15:18] #173 closed

[2019-01-11 22:17] jbehrends opened #184 "Date format in logs is not ISO8601 compliant, please expose a method to change this."
Currently Bucardo logs in the following format:

`VERBOSE (13627) [Fri Jan 11 21:49:33 2019] MCP Sent a kick to controller 13710 for sync "blabla"`

The date/time field is in UTC, but nothing about the format tells you that.  This has resulted in logs being ingested into our Logstash environment and stored in the future since it's assumed the timezone is the same as the system.

Ideally the date f

[2019-01-11 22:18] theory commented on #184
Maybe a configuration option?

[2019-01-11 22:19] machack666 commented on #184
Seems reasonable and if it's only in a few log functions should be easy enough to implement.

[2019-01-14 21:18] machack666 commented on #184
Something like (untested):

[code]

[2019-01-15 02:33] theory commented on #184
That  looks great!

[2019-01-15 02:45] machack666 commented on #184
Sounds good; will commit and fixup tomorrow.

[2019-01-15 15:56] machack666 commented on #184
Pushed in 7473471.

[2019-01-15 15:56] #184 closed

[2019-01-17 03:05] hom7 commented on #118
Hi，
    Updated the contents of pg_hda.conf?

[2019-01-17 05:59] hom7 opened #185 "DBD::Pg::st execute failed: ERROR: DBI connect('dbname=test1;host=127.0.0.1;port=5432','bucardo',...) failed: fe_sendauth: no password supplied at line 63. CONTEXT: PL/Perl function "validate_goat" at /usr/local/bin/bucardo line 7292"
Server: ubuntu14.04 x86  bucardo: 5.5.0  postgresql: 9.5

I have some problems, I don’t understand the cause of the error very well.

##############
DBD::Pg::st execute failed: ERROR:  DBI connect('dbname=test1;host=127.0.0.1;port=5432','bucardo',...) failed: fe_sendauth: no password supplied at line 63.
CONTEXT:  PL/Perl function "validate_goat" at /usr/local/bin/bucardo line 7292.
##############

[2019-01-18 11:11] fertiland commented on #157
@machack666
According to the code,  it seems we still can not change to "Read Commited" isolation level.
is this fixed by  git commit 624361721aa786afdf7477d6a118ca10dabdbc86?

=========================================
$self->{pg_isolation_level} = defined $sync->{isolation_level} ? $sync->{isolation_level} :
            $config{isolation_level} || 'serializable';

ALTER TABLE bucardo.bucardo_conf

[2019-01-18 13:15] machack666 commented on #157
It would appear so. Are you using 5.5.0? Because that should incorporate that commit already.

[2019-01-23 09:29] hom7 opened #186 "Bucardo cannot automatically synchronize lost nodes"
Bucardo5.5.0
1, master (bucardo)    2, master

Test: close 2 postgresql
Write data in 1 and then reopen 2 postgresql. At this time, the data cannot be automatically synchronized from 1 to 2postgresql.

Is there a solution?

[2019-01-23 14:55] machack666 commented on #186
You may need to activate the node and/or restart the Bucardo daemon for it to detect the node has come back.

I.e.,:

  $ bucardo activate sync my_sync
  $ bucardo restart
  $ bucardo status

You can see for sure if it has marked the sync as inactive via:

  $ bucardo list sync my_sync

HTH,

David

[2019-01-23 14:55] #186 closed

[2019-01-24 07:41] laorunsen commented on #157
@machack666
I noticed the follow item in released 5.4.0
- Remove default value from sync.isolation_level, so we can default to
    the global one when needed.

I wonder 'the global one' means the isolation_level setting in table bucardo.bucardo_config or the
replication target pg's isolation_level.

when I test with the bucardo version 5.5.0,  the issue still exists. Follow are the logs:

Log 1:

[2019-01-24 09:03] fertiland commented on #157
@machack666 , yes, we tested based bucardo5.5. Would you check the logs above provided by @laorunsen ?

[2019-01-28 02:33] hom7 commented on #186
hi，
I simulated the drop for the 5432 port packet
 (iptables -A INPUT -p tcp --dport 5432 -j REJECT --reject-with tcp-reset)

The result is the same as my active shutdown of postgresql, which is equivalent to network packet loss.
Then also need to actively restart? Https://github.com/bucardo/bucardo/issues/105

Is there any other better solution?

[2019-01-28 03:11] hom7 opened #187 "Bucardo cannot automatically synchronize lost nodes -"
hi，
I simulated the drop for the 5432 port packet
(iptables -A INPUT -p tcp --dport 5432 -j REJECT --reject-with tcp-reset)

The result is the same as my active shutdown of postgresql, which is equivalent to network packet loss.
Then also need to actively restart? Https://github.com/bucardo/bucardo/issues/105

Is there any other better solution?

[2019-01-28 22:00] tk421 opened #188 "Bucardo.org online documentation links broken"
Hi,

I am currently reading the documentation and I am finding quite a lot of links broken. Example:
 - https://bucardo.org/Bucardo/bucardo.html has references to "herd" which points at https://bucardo.org/Bucardo/herd which a broken link
 - https://bucardo.org/herd/ has a link to "sync" that is broken too.

I have found other examples, but I guess that it would suffice to find and fix the problem

[2019-01-30 02:10] fertiland commented on #157
@machack666 ,  This issue was appreared when run bucardo in multi-master mode.  Suppose there are two sites: SiteA, SiteB.  A lot of traffic in the siteA need to be synced to SiteB, meanwhile, app tries to update one of the data to be synced in the delta, then the sync failed in SiteB. As traffic is still soaking, the delta is also increasing very fast.  Then the sync is blocked.

Now, we tried to

[2019-02-21 03:00] buzzing-bee commented on #185
Try read on this issues below:
[https://github.com/bucardo/bucardo/issues/133](Issues 133)
[https://github.com/bucardo/bucardo/issues/140](Issues 140)

[2019-02-21 03:06] buzzing-bee opened #189 "Change default bucardo user and database"
Based from the FAQ [Here](https://bucardo.org/Bucardo/FAQ/):

What I'm asking is, can we change the default bucardo user and database to another name?? Or is it strictly only allow bucardo as user and database ?

[2019-02-21 10:36] pinkerltm commented on #127
Well wouldn't that allow anyone who connects to this server as username 'bucardo' from anywhere to login as superuser role without any further password check?

Having in mind to use bucardo in an production environment I would be interested where I can configure which password bucardo is using to connect to each cluster node.

[2019-02-21 10:51] #189 closed

[2019-02-21 13:35] machack666 commented on #127
You would want to set a password and use a`.pgpass` file to provide the password.

[2019-02-28 04:45] jrnp97 commented on #140
I Tried and works for me.
`sudo PGPASSFILE=<path/to/.pgpass> bucardo add db <name> dbname=<db_name> user=bucardo host=127.0.0.1`

[2019-04-01 13:50] jozwior opened #190 "Failed to add sync, function problem"
Hello,

I have issues with adding database to sync. DB versions: PostgreSQL 9.6.8 (RDS), Jump system: Ubuntu18.04 LTS, bucardo version: 5.4.1.

When trying run this command:
`bucardo add sync db_sync relgroup=copying_herd dbs=source_db:source,dest_db:target onetimecopy=1`
I receive this error:
[code]

Function `search_string` exist and I can run this function from psql command line.

[2019-04-05 13:39] shubham-chegg opened #191 "Will bucardo be responsible for data size increase in db size?"
I have a question, will bucardo be able to increase overall size of db?

In dec’18, we migrated to RDS from EC2 postgres, using bucardo replication. But due to some reasons, we had to stop using that and put the task in backlog. We stopped the bucardo syncing, and left the system as it is. Now after 3 months after we stopped it, we are facing an high increase rate in db size as compared to duratio

[2019-04-05 13:54] machack666 commented on #191
Yes, if you only stop Bucardo but do not remove it it will continue to track all changes to your tables.  Since the Bucardo daemon is not running, it will never remove any rows and your database will bloat.

If you are never going to use Bucardo again and just want to remove any vestiges, you will need to remove triggers and the delta tables; all of this is in the `bucardo` schema on each database

[2019-04-05 14:23] machack666 commented on #191
Note that this will remove *all* bucardo stuff from this database; if you need to only remove a subset or from only some parts of the nodes you may need a different approach.

[2019-04-05 17:16] shubham-chegg commented on #191
Thanks for the prompt reply, as if I understood it correct. if I need to remove bucardo completely I need to remove schema from all the replicating db. Please correct me If I am wrong.

But what about “Active” bucardo syncs? Do I need to perform any action there, or its fine.

Also if I don’t want to delete it completely, what options/ways do I have? Kindly provide details of that.

Thanks,
Shubha

[2019-04-08 08:54] #190 closed

[2019-04-08 08:54] jozwior commented on #190
It was issue with `search_path` on my site.

[2019-04-08 10:41] shubham-chegg commented on #191
Will

[2019-04-08 10:41] #191 closed

[2019-04-29 19:01] akhon commented on #160
had same issue in ubuntu 14.04/16.04, postgres 9.3/9.5, and bucardo versions 5.4, 5.5, 4.99, fresh machines and installations.

solution mentioned by @danieltanfh95 works, but after creating table manually need to reload config in bucardo via command `bucardo reload config`. reloading service didn't help.

[2019-04-29 21:32] #178 closed

[2019-05-30 04:51] changchichung commented on #140
I have the same problem , I already modify pg_hba.conf like below
[code]
and I can connect to psql using bucardo in shell
[code]

But I can not use bucardo command .
[code]
any suggestions ?

[2019-05-31 02:42] jim-leary opened #192 ""Could not find "cluster_metadata" inside the "public" schema on database""
I have two AWS RDS Postgress 9.6 DB's that I'm trying to setup for replication using and EC2 instance running Postgres 9.6 and Bucardo 5.5.  When I attempt to define the sync I get the error "Could not find "cluster_metadata" inside the "public" schema on database".

[2019-05-31 14:04] machack666 commented on #192
Hi @jim-leary, I'm not sure what `cluster_metadata` is, but it's not part of the `bucardo` system.  Is this part of your existing DB schema that you are trying to sync?

[2019-05-31 15:11] jim-leary commented on #192
Hi David - No, its not.  Bucardo is (apparently) stating that it cannot find this table in the public schema in the target DB.  The source DB does not have this table as well, which is why I'm confused.

[2019-05-31 16:13] machack666 commented on #192
Hmm, wonder if it's in a hidden schema; can you see it in `SELECT * FROM pg_class WHERE relname = 'cluster_metadata'` on the source DB?

In the `bucardo` database, do you see a table by this name in the `goat` table?

[2019-05-31 16:21] machack666 commented on #192
Also, what were the commands you used to setup the cluster?

[2019-05-31 16:33] jim-leary commented on #192
the 'cluster_metadata' table does not exist after running the query you suggested. Nothing in the goat table as well.

Again: what I'm doing is attempting to replication a source AWS/RDS PG 9.6 db to another AWS/RDS PG 9.6, using an EC2 instance running a local PG 9.6 server and bucardo.
[code]

[2019-05-31 17:30] machack666 commented on #192
And just to confirm, you're connecting to the `devdb` database when running the query for checking for that table?

[2019-05-31 17:35] jim-leary commented on #192
Yes - correct.  I looked at both the source and target db's.

[2019-06-04 12:50] sebalaini opened #193 "Need to recreate /var/run/bucardo after reboot before bucardo start"
After a reboot of the server with bucardo running, I cannot stop bucardo because it doesn't find the folder

https://github.com/bucardo/bucardo/issues/99

I'm using Bucardo 5.5.0

[2019-07-18 15:05] chibicitiberiu commented on #188
I can't find any detailed manual, other than the "FAQ" page, the "Overview" page and the tutorials. These are not very helpful. Look at the documentation [slony](http://www.slony.info/documentation/2.2/index.html) has, this is the kind of documentation I expect.

[2019-07-22 17:27] JeffRossMT opened #195 "db_connlog must be schema qualified"
Here's a patch
[code]

[2019-08-14 01:42] bucardo111 opened #198 "How many tables are synchronized by a single bucardo synchronization process"
When the number of tables for a single synchronization process reaches 155，the synchronization process stops synchronization，is this a bug?

In addition, it automatically stops and restarts when nothing is done manually, wondering when such a reboot might occur.
(bucardo5.4.1 + postgresql 9.5.5+centos7.4)

[2019-08-14 03:19] machack666 commented on #198
There should not be a hard limit like what you describe. What shows up on the logs?

[2019-08-14 03:45] bucardo111 commented on #198
The log shows no errors or warnings. When i increase the number of synchronized tables to 155, the synchronized data will stop. After a restart of synchronization, the data that changed before the restart is synchronized to the target database, but the data that changed after the restart is not synchronized unless restarted again.
However, after removing the synchronization of any table, the synch

[2019-08-14 12:11] machack666 commented on #198
Are you creating new syncs or adding to an existing one? Are you able to see the bucardo triggers on all of the relations? What is max_locks_per_transaction?

[2019-08-15 00:54] bucardo111 commented on #198
Is added to an existing sync, and i'm able to see the bucardo triggers on all of the relations. The value of max_locks_per_transaction is 64 by default.But in another synchronization process, where I added more than 200 tables, the data synchronization was normal, with the only difference being that the tables had much less data. So I was wondering what the problem was

[2019-08-15 01:26] bucardo111 commented on #198
Also, does a name too similar to sync affect synchronization? There are two syncs on the same port, sync_his and sync_ihis

[2019-08-15 15:21] machack666 commented on #198
No, that should not affect anything.

[2019-08-15 15:22] machack666 commented on #198
When you make a change on this cluster do you see the corresponding rows in the delta tables?  What are you using to bootstrap the table data?  Is it possible the initial copy of table data is still in process?

[2019-08-16 01:46] bucardo111 commented on #198
Yes, when I update a row of data, the corresponding data can be found in bucardo.delta.The same dump data is imported for the source and destination databases, so the initial data is the same.I think it might be some special combination of conditions that triggered some kind of bug.Data synchronization is normal with different databases and different syncs under the same conditions,or when I upgra

[2019-08-16 01:47] bucardo111 commented on #198
Another question. Bucardo5.5.0 shows logs that are shorter than 5.4.1. Bucardo5.5.5 only shows errors or warnings, but bucardo5.4.1 shows data changes caused by DML operations. Is there a problem with my configuration or is log display simplified?

[2019-08-16 12:19] machack666 commented on #198
Well if this issue is no longer present in 5.5.0 there must have been a bug which was fixed. :)

I don't recall offhand if the logging levels changed but that would not surprise me; does not seem like an error, just a change in behavior.

Can we close this issue now?

[2019-08-19 01:31] bucardo111 commented on #198
Of course you can close this issue.
Looking  forward to the new bucardo update.

[2019-08-19 02:32] #198 closed

[2019-08-31 13:12] turnstep commented on #195
Thank you. Applied in acc21e807ea135b08b4502e5973c31d403b97f8a

[2019-08-31 13:12] #195 closed

[2019-08-31 13:20] #176 closed

[2019-09-02 05:45] bucardo111 commented on #157
Hi, has this problem occurred since you changed the isolation level of bucardo to repeatable read?

[2019-09-03 13:43] suharevA commented on #187
I wrote a script to track server status. As soon as the connection is resumed, the script makes the bucardo restart command. Sync is restored

[2019-09-03 17:50] qops1981 opened #199 "[Feature Request] Option for TABLESPACE use in creation of Source Bucardo tables"
Greetings Maintainers,

It would be great if we could submit a TABLESPACE for source bucardo tables (delta, track, etc.). Many of the EC2 Postgres DB's that I am working on Migrating offer local SSDs. As it is I am going to try and figure out on how to migrate these into a tablespace manually. My main concern there is the interaction with placed triggers. But figured it would be nice if this was j

[2019-09-04 13:47] machack666 commented on #199
It would probably be sufficient to set the tablespace of the bucardo schema on creation time and everything else should support that. One tricky part would be how to set that on a per-db setting and if you'd expect that to already exist or if you'd create it as part of the process. How do you see that working?

[2019-09-04 20:10] qops1981 commented on #199
Hey Mac,

As far as I am aware per Postgres Docs there is at least an absence of direction on that being an available function of the `( ALTER | CREATE ) SCHEMA` commands.

For the Per DB issue, I might imagine the user would create the `TABLESPACE` on the DB they choose, then in Bucardo when adding the DB's there could be an option for `TABLESPACE`. Since ultimately tablespace's don't matter to a

[2019-09-11 02:57] lanaparadinha opened #200 "Install Fail"
INSTALLATION FAILED! (psql:/usr/share/bucardo/bucardo.schema:838: ERROR:  Can't locate DBI.pm in @INC (you may need to install the DBI module) (@INC contains: /etc/perl /usr/local/lib/x86_64-linux-gnu/perl/5.24.1 /usr/local/share/perl/5.24.1 /usr/lib/x86_64-linux-gnu/perl5/5.24 /usr/share/perl5 /usr/lib/x86_64-linux-gnu/perl/5.24 /usr/share/perl/5.24 /usr/local/lib/site_perl .) at line 15.
BEGIN f

[2019-09-13 12:26] lanaparadinha commented on #200
Any solution?

[2019-09-13 13:59] machack666 commented on #200
Hi @lanaparadinha — this looks to be due to `plperl`'s installation perl being in a different location than the system perl.  What does this show for the bin dir for the perl in question?:

`do $$warn $Config{installbin};$$ language plperlu;`

If you use the full path to the `cpan`/`cpanm` in that directory then you should be able to install the `DBI` module in a place where `plperl` can see it.

[2019-09-13 16:51] lanaparadinha commented on #200
Thx David...

I dont understand this command.
"do $$warn $Config{installbin};$$ language plperlu;"
But my perl install in this place:
# which perl
/usr/bin/perl

This result help?
PATH="/var/lib/postgresql/perl5/bin${PATH:+:${PATH}}"; export PATH;
PERL5LIB="/var/lib/postgresql/perl5/lib/perl5${PERL5LIB:+:${PERL5LIB}}"; export PERL5LIB;
PERL_LOCAL_LIB_ROOT="/var/lib/postgresql/perl5${PERL_LOCAL_LIB

[2019-09-13 16:55] machack666 commented on #200
Sorry; you should run that from within PostgreSQL with `plperlu` installed already as a super-user.

[2019-09-13 16:56] machack666 commented on #200
But yes, it looks like you need to use `/var/lib/postgresql/perl5/bin/cpan` if that exists

[2019-09-13 16:56] lanaparadinha commented on #200
ls -lrt /var/lib/postgresql/perl5/bin/cpan
ls: cannot access '/var/lib/postgresql/perl5/bin/cpan': No such file or directory

[2019-09-13 16:57] lanaparadinha commented on #200
a simbolic link resolve?

[2019-09-13 16:58] machack666 commented on #200
What does `ls /var/lib/postgresql/perl5/bin` show?  If there is a `perl` there, you can try:

`/var/lib/postgresql/perl5/bin/perl -MCPAN -e shell` then `install DBD::Pg` from within the CPAN shell.

[2019-09-13 16:59] lanaparadinha commented on #200
none

[2019-09-13 17:22] machack666 commented on #200
Yeah, I think you need to use the `DO` statement I pointed out earlier to find the actual paths involved.

[2019-09-13 17:41] lanaparadinha commented on #200
but use where?
Postgres?
"postgres@JMDAPL02:~$ psql
psql (9.6.6)
Type "help" for help.

postgres=# do $$warn $Config{installbin};$$ language plperlu;
WARNING:  Warning: something's wrong at line 1.
DO
postgres=#"

Linux?
"root@DB01:~# do $$warn $Config{installbin};$$ language plperlu;
-bash: syntax error near unexpected token `do'
root@DB01:~#"

CPAN?
"cpan[1]> do $$warn $Config{installbin};$$ lan

[2019-09-13 18:05] machack666 commented on #200
Postgres; might need to add a `use Config` in there too; I'd had one earlier in the session I'd been using, so maybe that's required.

Try:

[code]

[2019-09-13 18:35] lanaparadinha commented on #200
postgres=# DO $$ use Config; use Data::Dumper; warn Dumper(\%Config); $$ LANGUAGE plperlu;
WARNING:  $VAR1 = {
          'Author' => '',
          'CONFIG' => 'true',
          'Date' => '',
          'Header' => '',
          'Id' => '',
          'Locker' => '',
          'Log' => '',
          'PATCHLEVEL' => '24',
          'PERL_API_REVISION' => '5',
          'PERL_API_SUBVERSION' => '0',

[2019-09-13 18:35] lanaparadinha commented on #200
'vendorlib' => '/usr/share/perl5',
          'vendorlib_stem' => '',
          'vendorlibexp' => '/usr/share/perl5',

[2019-09-13 21:54] durkie opened #201 "Wide character in subroutine entry -- UTF8 parsing problem?"
Hi folks -- I've been really grappling with this for quite some time, to the point of creating a fresh Ubuntu 19.04 server, installing everything, and still having trouble with wide characters.

Versions of everything:
[code]

I'm getting most of my tables synced correctly, but when I add a table that has a varchar column with foreign characters and emoji in it, my bucardo Kids die over and over w

[2019-09-14 03:09] durkie commented on #201
To add some color to this, Bucardo wouldn't let me sync two other tables because it thought that the master version and replica version of two tables have differed:  the master version had a "🚲" icon as the default value for a column, and it claimed the slave version had "δº" as that same default value, even though it was also the "🚲" bicycle emoji.

[2019-09-14 17:23] durkie commented on #201
Dang, these keep piling up. New one here:
[code]

[2019-09-14 21:27] machack666 commented on #201
What version of `DBD::Pg` do you have? I would expect that this has not been well-tested with unicode column names so there are probably some rough edges.

[2019-09-14 23:24] durkie commented on #201
It is 3.10.0 -- but the but to be clear there are no column names with unusual characters: just one with a default value of a bicycle emoji and others containing all variety of user text.

[2019-09-16 14:47] lanaparadinha commented on #200
Nothing?

[2019-09-16 14:52] machack666 commented on #200
Looks like `plperlu` is looking for the perl installed in `/usr/bin` and the `bucardo` script is using the a perl in `/usr/local/bin`, so I suspect if you use `/usr/bin/cpan` and install `DBI` it should then find it.

[2019-09-16 15:15] lanaparadinha commented on #200
hmmm
I dont have /usr/local/bin/cpan...

root@DB01:~# /usr/local/bin/cpan
**-bash: /usr/local/bin/cpan: No such file or directory**
root@DB01:~#
root@DB01:~#
root@DB01:~# /usr/bin/cpan
Loading internal null logger. Install Log::Log4perl for logging messages
Terminal does not support AddHistory.

cpan shell -- CPAN exploration and modules installation (v2.18)
Enter 'h' for help.

**cpan[1]> install

[2019-09-16 20:29] lanaparadinha commented on #200
Sorry, I give up!

[2019-09-26 13:58] einhverfr commented on #156
Actually as I think about it a better option would be to set this as a configuration on the sync.  We set it so that we can do things like multimaster replication but it prevents cascading replication.  If we make this configurable on the sync it means we can decide whether to allow cascading or multi-master on the destination dbs (i.e. whether to trigger further cascades on replication).

[2019-09-26 14:00] einhverfr commented on #156
hmmm this could impact foreign key checks.  Need to think more.

[2019-10-02 23:06] qops1981 commented on #199
Hey Mac,

Here is another option ( if its not what you were already suggesting ). I figured out that Postgres has a `default_tablespace` config option. In the docs it says it does not effect temp table and other working datasets. so here is what I did:

* Formatted the EC2 Instance Store in `ext4` _( Provided Direct Attach SSD )_
  * Disables Journaling at format time _( recommended from various s

[2019-10-31 08:53] bucardo111 opened #203 "What situations need to use bucardo reload config？"
When I remove a database synchronization, do I need to do bucardo reload config? If not, when do I need to run this command ? Thanks

[2019-11-11 17:09] Maytrovato opened #204 "MCP Warning: Killed (line 7185): DBD::Pg::st execute failed: ERROR: invalid name syntax at /usr/local/share/perl5/Bucardo.pm line 7185."
Hello, I got this problem while starting bucardo.

[code]

And this is line 7185:
`            $sth->execute("$RS.$RT");`

This is my Perl version
[code]

And BDB module version
`perl-DBD-Pg-2.19.3-4.el7.x86_64`

EDIT: Looks like there a null var for the scheme.database target

`/usr/local/share/perl5/Bucardo.pm`
`            $self->glog(qq{   Inspecting target $g->{reltype} "$RS.$RT" on database

[2019-11-18 13:29] Paradox2019 commented on #204
Same error here, need help. :(

[2019-11-18 13:51] Paradox2019 opened #205 "MCP Warning: Killed (line 7185): DBD::Pg::st execute failed: ERROR: invalid name syntax at /usr/local/share/perl/5.22.1/Bucardo.pm line 7185."
Hey guys i got the following error code in my bucard logfile
(4853) [Mon Nov 18 14:28:17 2019] MCP   Inspecting source table "public.affiliation" on database "z1"
(4853) [Mon Nov 18 14:28:17 2019] MCP    Inspecting target table "." on database "z2"
(4853) [Mon Nov 18 14:28:17 2019] MCP Warning: Killed (line 7185): DBD::Pg::st execute failed: ERROR:  invalid name syntax at /usr/local/share/perl/5.2

[2019-11-19 07:53] Paradox2019 commented on #204
Hey

Hey man, i think that is an bug. I´ve downloaded the latest stable release and didn´t cloned the source. built it and then it works well. https://github.com/bucardo/bucardo/archive/5.5.0.zip

[2019-11-19 07:57] Paradox2019 commented on #204
You can just replace the bucardo.pm with the one from the archive-release.

[2019-11-19 17:46] Maytrovato commented on #204
It worked like a charm! thank you so much! I'm going to close this issue

[2019-11-19 17:47] #204 closed

[2019-11-19 17:48] Maytrovato commented on #205
You can now close this issue.

Solved at https://github.com/bucardo/bucardo/issues/204

[2019-11-19 18:28] #205 closed

[2019-12-18 14:18] supersexy opened #206 "Postgres 12 Support?"
What about support for Postgres 12?

It would be really very, very helpful if you would like to add the supported version of Postgres to the Readme - I only understood by some info in the [changelog](https://github.com/bucardo/bucardo/blob/c8a310d63e09d8b497fce81e510f220db074e573/Changes#L35) that bucardo seems not to be comptible with all versions out of the box - so it seems to be a very importa

[2019-12-19 17:31] machack666 commented on #206
Hi, I am unaware of any specific issues with PostgreSQL 12; are you running into any particular issues using it, or just extrapolating from previous compatibility fixes?

[2019-12-20 22:30] supersexy commented on #206
Yes, yes, just extrapolating, full of fear of hitting the one incompatibility bug. :)
I guess it will be ok if you see no problems! Wish you nice holidays!

[2020-01-06 07:22] jeetparekh89 opened #207 "CTL Warning! Controller for "xxxx_sync" was killed at line 2224: Stop sync request at /usr/share/perl5/vendor_perl/Bucardo.pm line 2224"
7507) [Tue Dec 31 17:52:57 2019] CTL Warning! Controller for "xxxx_sync" was killed at line 2224: Stop sync request at /usr/share/perl5/vendor_perl/Bucardo.pm line 2224.
(17496) [Tue Dec 31 17:52:57 2019] CTL Got a stop sync request, so exiting
(17496) [Tue Dec 31 17:52:57 2019] CTL Warning! Controller for "xxxx_sync" was killed at line 2224: Stop sync request at /usr/share/perl5/vendor_perl/Bucar

[2020-01-09 10:12] robin8588 opened #208 "Document for version 5"
Hi ,
I am try to use this great project ,but when I following the document ,it make me confused .
like running :
bucardo add sync benchdelta source=alpha targetdb=test2 type=pushdelt
return error:
Unknown option 'source'

So ,I don`t know how to set source ,how to set target ,how to set sync type,
Is there a document ,can let me know :
how to Monitoring tye sync
what is the restrictions
......

th

[2020-01-09 15:47] machack666 commented on #208
Hi, can you let me know which page you saw this on?  That looks like an old-style Bucardo 4 syntax.

The general approach is this:

1. Add dbs.
2. Define dbgroups for source/target definitions.
3. Add tables into a relgroup.
4. Create sync that uses the dbgroup and the relgroup.

So this will look something like this:

[code]

HTH,

[2020-01-10 10:02] robin8588 commented on #208
thank @machack666
I saw the code from
https://bucardo.org/Bucardo/Installation.html
and
https://bucardo.org/Bucardo/pgbench_example.html

I can success sync with your code

[2020-01-13 16:04] theory opened #209 "Release Bucardo 5.6.0?"
Lots of useful improvements we could use. Anything preventing bundling up and releasing 5.6.0 (or 5.5.1 if you'd rather)?

[2020-01-22 07:05] spchinna25 opened #210 "Replication failure using 5.4.1-1"
replication not working in long run when configured with bucardo 5.4.1-1 in my 1+1 Master setup

[2020-01-22 07:20] spchinna25 commented on #210
Is there any known bug fixed related to this in 5.5 ?

[2020-02-03 22:11] theory commented on #209
🐘😭

[2020-02-04 20:58] machack666 commented on #209
If you can test/verify, this will assist in getting this formally released.

[2020-02-05 18:12] theory commented on #209
Passed the request on to our Postgres DevOps to test, thanks!

[2020-02-10 20:00] machack666 commented on #209
Hi, any feedback here?  Were they able to get things going to your knowledge or do they need more time?

[2020-02-10 22:22] theory commented on #209
I believe the team will have some bandwidth to test it this week (finishing a big upgrade right now, so trying to minimize the variables in play). I'll give you a holler when I know more, hopefully just a .

[2020-02-11 00:13] theory commented on #209
We got it installed and got our first error:

[code]

[2020-02-11 00:34] theory commented on #209
I confess I don't understand the reason for this error, however. That code path hasn't changed since 5.5.0 AFAICT.

[2020-02-11 21:13] theory commented on #209
FYI:

[code]

[2020-02-11 21:22] machack666 commented on #209
Perl version?

Sent from my iPhone

[2020-02-11 21:53] theory commented on #209
5.16.3

[2020-02-11 22:42] theory commented on #209
Fixed the OID error in 189bef2.

[2020-02-12 14:20] machack666 commented on #209
@theory is the "OID error" you mention the issue above where it's not finding the `conrelid`?

[2020-02-12 15:04] theory commented on #209
Yes, #211 fixes the error with the comma-delimited empty OIDs compared to the `conrelid` column.

[2020-02-13 15:58] machack666 commented on #209
Anything else outstanding that you're aware of?

[2020-02-13 16:21] theory commented on #209
No. We ran some tests in our QA environment. The log timer format works well, as do the schema-qualified table lookups for configuring custom codes. The engineer told me:

I assured her that she covered the changes since 5.5.0; there aren't many, fortunately. I do think it would be helpful to merge #212, though.

[2020-02-13 16:24] machack666 commented on #209
Merged #212, going to skim through for low-hanging fruit.

[2020-02-13 16:30] machack666 commented on #210
Hi, @spchinna25,

If you are running into specific issues, please use the mailing list to report: https://bucardo.org/mailman/listinfo/bucardo-general

Also, we will need a lot more information to do anything useful with this report; are you getting error messages from the `log.bucardo` file, PostgreSQL logs, etc.  The first step would be to try the latest version of Bucardo, which is 5.5.0.

Best

[2020-02-13 16:30] #210 closed

[2020-02-13 16:30] #206 closed

[2020-02-13 16:31] machack666 commented on #203
For general support, please use the mailing list: https://bucardo.org/mailman/listinfo/bucardo-general

You will need to do a `bucardo restart` when you add or remove a sync for Bucardo to pick it up.

HTH,

[2020-02-13 16:31] #203 closed

[2020-02-13 16:32] #199 closed

[2020-02-13 16:32] #200 closed

[2020-02-13 16:33] #185 closed

[2020-02-19 17:50] theory commented on #209
🔔 🔛

[2020-02-26 14:49] rojspencer commented on #193
This is probably systemd purging the directory.

See: https://unix.stackexchange.com/questions/381571/what-would-likely-cause-directories-in-var-run-to-disappear-not-be-created-on
And: https://www.freedesktop.org/software/systemd/man/tmpfiles.d.html#

[2020-02-26 22:03] kcappello commented on #128
Was running into this same problem and I finally got it working.   I changed the way that runuser was called in /etc/init.d/bucardo_11 by adding a -l to make it a login shell to start.

SU=runuser
changed to:
SU="runuser -l"

[2020-02-29 13:35] machack666 commented on #209
Released 2020/02/28.

[2020-02-29 13:35] #209 closed

[2020-03-02 12:09] sebalaini commented on #193
sorry, I'm not working anymore on that project. I'll close the issue.

[2020-03-02 12:09] #193 closed

[2020-03-10 14:43] ednt opened #213 "Re Sync after lost DB Connection"
We try to run Bucardo 5.5 with 2 DB Postgress 11 in master <> master Mode.

if we stop one of the master db Bucardo show in Log "Warning: Killed (line 6511): DBD::Pg::db pg_notifies failed: SSL-Verbindung wurde un..."
and Bucardo start to respawn.
If we bring up the DB after 60 Seconds the Log shows
the reconnect. But Sync is not working.
Sync start only after we  send "bucardo restart"

is the sh

[2020-03-20 17:20] LucaPaterlini opened #214 "try to connect and sync to a remote postgres istance"
hello,
I have set up 2 virtual machines and I am trying to keep 2 instances of a database in sync.

I have added the connection to the remote PostgreSQL instance.
sudo bucardo add db vmmetrics_server_dev  dbname=metrics_server_dev host=192.168.1.244 user=postgre pass=postgres

I have checked the second vm is available for the first one where I have installed bucardo at 192.168.1.244 via connecting

[2020-03-27 14:53] depesz opened #215 "Could not find the bucardo.schema file! Straight after installing."
I'm using local perl dir, created by:

`perl -Mlocal::lib`

It did set these env variables:

[code]

I did install of Bucardo 5.6, and it installed in /home/pgtest/perl5:

[code]

But when trying to run "bucardo install" - it complains:

[code]

Strace showed that it looks only in /usr/local/share/bucardo/bucardo.schema and /usr/share/bucardo/bucardo.schema but why doesn't it look in a place it in

[2020-03-27 15:21] machack666 commented on #215
Yes, this should look where installed; from what I know, this is the first time I've heard of someone installing it from `local::lib` (as it would have had this issue then too).

Will see about a patch for this.

[2020-03-27 15:29] machack666 commented on #215
@depesz pushed a likely fix in cb3315d; can you verify this works for you?

[2020-03-27 15:33] depesz commented on #215
Looks like it works. One question, though - why add usr/local there?

I would assume that if script is in X/bin, then it's share things are in X/share/ - just like X/lib, or anything like this.

We can close the bug, as it clearly works now, and the location of files is less important for now.

Thanks a lot.

[2020-03-27 16:04] machack666 commented on #215
I was just basing it on the installation paths you mentioned, so 🤷‍♂.  I haven't used `bucardo` with `local::lib` though, so can't promise it makes sense.  (Do let me know if you run into any additional issues though...)

[2020-03-27 16:04] #215 closed

[2020-04-15 10:59] PrinLiu commented on #177
It should be the same issue as this one I think. https://github.com/bucardo/bucardo/issues/115

[2020-04-23 09:50] laorunsen opened #216 "bucardo lost data issue due to txntime confliction"
We use bucardo 5.6.0 and found a data lost issue.
We found that with high traffic,  the delta will lost,  about 200000 records lost 1 records.
Here is our test scenario:
create table test1 (id int primary key, id2 int)
pgbench -M prepared -f ./test.sql -n -r -h 127.0.0.1 -p 8896 -U testuser -c 300 -j 300 -T 1200 testdb
 cat test.sql
\set a random(1,100000000)
\set b random(1,100000000)
\set c rand

[2020-05-26 07:00] jpjofre94 commented on #208
@machack666 I'm having the same issue than @robin8588. As you said, documentation on website seems outdated.

[2020-06-24 10:00] walidelhawari commented on #213
i have same problem please let me know if you find solution

[2020-06-24 10:18] walidelhawari commented on #187
suharevA  can i have this script please
 my email is walid@arkanit.ly

[2020-07-22 17:44] mikolasan commented on #192
Same thing happened to me on version 5.6.0. I can provide more information and I have a solution/workaround.

My first sync goes OK:

[code]

But then when I do the same steps for another database
[code]
 the error appears
[code]

So it goes through the list of tables from `db1`, but they do not exist in `db3`. I think @jim-leary also did another commands prior this error and `cluster_metadata` co

[2020-07-22 19:11] machack666 commented on #192
So it looks like the logic to add all tables is a little hard to reason about; it will fall back to the earliest database that is defined as a source for the "unspecified" database table source.  If you want to use the tables from `db3`, you will need to provide the `db=db3` argument in your `bucardo add all tables`.

In your example I see you're using `tables=all` as an argument for the `add sync

[2020-08-02 11:40] fpuga commented on #161
Closing this, i can confirm that 5.6.0 works correctly from PostgreSQL 9.3 to at least PostgreSQL 10.

[2020-08-02 11:40] #161 closed

[2020-08-06 20:24] pinkerltm opened #217 "Missing PlainText Module on CentOS/RHEL 8"
Bucardo is installed and running on CentOS 8. Nevertheless certain commands (for example `bucardo update dbgroup ...`) fail with the following error:

yum/dnf doesn't provide a package "perl-PlainText" to install and I also wasn't able to find any solution related to this certain package. How do I get this installed?

[2020-08-06 20:32] machack666 commented on #217
I don't know for CentOS 8 specifically, but in previous versions you can `yum install 'perl(Pod::PlainText)'` to install the package that corresponds to the given module, so that would be my first attempt.

Worst case you could install via CPAN or CPANM, though it would be better to use the packaged modules if they exist.

(Worst, worst case, I think that module is only used for generating docs fr

[2020-08-06 20:34] pinkerltm commented on #217
That perfectly worked and revealed that the corresponding yum package is called "perl-Pod-Parser".

Thanks for the quick response!

[2020-08-06 20:34] #217 closed

[2020-09-02 17:10] mikolasan commented on #207
@jeetparekh89, what version are you using?

On 5.6.0 I've got similar warnings, but at least it shows what table causes the problem:

[code]
where `xxx` is a table that has some changes on source DB and bucardo cannot move them to target DB.

try increasing log level:
[code]

[2020-10-21 15:44] joaormp opened #218 "Invalid format returned by custom query (if using a function)"
Hi guys,

I have a problem, I have a simple function to return data but when using the custom query Invalid format returned by a custom query:
(host:127.0.0.1) Invalid format returned by custom query | time=2.45s ...

Can anyone help with this issue?

Thanks in advance

[2020-10-21 15:59] machack666 commented on #218
Hi @joaormp can you provide some details here?  Also the output you've provided makes me wonder if this is related to `check_postgres`, not `bucardo` proper.

[2020-10-22 09:33] joaormp commented on #218
Hi,
It's solved, when I call the function we have to have an alias result.
Now it's working
solution:     --action=custom_query --query="select [functions_Name]() as result"

[2020-10-22 09:33] #218 closed

[2020-10-22 09:34] joaormp commented on #218
Hi,
It's solved, when I call the function we have to have an alias result.
Now it's working
solution: --action=custom_query --query="select functions_Name as result"

[2020-11-05 15:17] savoir81 opened #220 "Partitioned tables not synced"
Hi,

I created one partitioned table, partitioned by range. After that i tried to add this table to Bucardo sync but i get this message as if the table do not exists:

$ bucardo add table ident.identification herd=copying_herd
Did not find matches for the following terms:
  ident.identification

I managed, though to add partitions of this table but they are not synced to another server.

Is declar

[2020-11-06 14:01] machack666 commented on #220
Hi Savo,

I would assume that we are doing some sort of filtering to specific relation type i.e., relation (=table) vs other kinds.  Since the parent partitioned table is a special type of relation (like a view or matview), it is likely this would not work directly for the parent table.

Replication of the individual partitions *should* work in theory--though I haven't tested them--assuming that y

[2020-11-09 08:47] bzhaoopenstack opened #221 "[ARM CI]Introduce ARM CI to bucardo community"
Currently, the CI of bucardo(in github https://github.com/bucardo/bucardo/) is handled by Travis-CI .  But most jobs are running under X86 hw ARCH. This leads an problem that we don't have a good way to test every pull request that the proposal can be deployed, compiled or tested success on ARM.

We should add a CI system that support ARM ARCH for more resources and less human resource invest. Usi

[2020-11-11 09:25] bzhaoopenstack commented on #221
Hi team,
@turnstep @jonjensen  @machack666, could you please give some ideas about ARM CI? For now, I got all pass on ubuntu1804 aarch64 platform..

[2020-11-11 16:00] jonjensen commented on #221
@bzhaoopenstack That seems worthwhile to me. Thanks for testing it already.

What do we need to do to make the tests run after each commit?

Also, FYI, I get a TLS certificate error going to https://openlabtesting.org/ because the cert expired 3 months ago.

[2020-11-12 02:33] bzhaoopenstack commented on #221
@jonjensen Thanks very much for the info about the TLS error. That must be my fault in previous exchange the new TLS cert last month.. I had already updated it. And now, the website of openlab is available.

Hmm, let me think, we have 2 options for the each commit check towards aarch64 platform.
1. The first one is using exist Travis CI that I already test on ubuntu bionic aarch64, but seems the u

[2020-11-12 23:12] jonjensen commented on #221
Hmm. We don't know of anyone using ARM for Bucardo, and Postgres 10 + Perl 5.24 are both fairly dated now too.

We have limited expert help maintaining Bucardo, so I'm going to say we should leave this on the back-burner for now, and we can reconsider later. At the moment we have a higher need to work on our documentation and some new features for the next release.

@bzhaoopenstack Thanks for open

[2020-11-12 23:23] jonjensen commented on #72
This was fixed in this commit:

[code]

[2020-11-12 23:23] #72 closed

[2020-11-12 23:26] jonjensen commented on #16
Since Drizzle is long-dead, I'm closing this. I think we should soon remove Drizzle support entirely.

[2020-11-12 23:26] #16 closed

[2020-11-12 23:33] #44 closed

[2020-11-12 23:34] jonjensen commented on #51
This predates Bucardo 5 and is unlikely to be relevant now. Closing.

[2020-11-12 23:34] #51 closed

[2020-11-12 23:42] jonjensen commented on #7
Can't reproduce on current Bucardo.

[2020-11-12 23:42] #7 closed

[2020-11-12 23:43] #115 closed

[2020-11-12 23:43] #177 closed

[2020-11-12 23:45] jonjensen commented on #159
Will consider a docs example for this.

[2020-11-12 23:45] #159 closed

[2020-11-12 23:47] #157 closed

[2020-11-12 23:47] #158 closed

[2020-11-12 23:48] #132 closed

[2020-11-12 23:50] jonjensen commented on #107
Packages are building now since current version is seen at https://pkgs.org/search/?q=bucardo

[2020-11-12 23:50] #107 closed

[2020-11-12 23:52] jonjensen commented on #85
This can be done by the usual methods: systemd or init script on Linux, rc scripts on BSDs, etc.

[2020-11-12 23:52] #85 closed

[2020-11-12 23:52] #84 closed

[2020-11-13 00:01] jonjensen commented on #60
Specific details are lacking here, and this is 11 years old, and I haven't heard recent similar reports, so closing.

[2020-11-13 00:01] #60 closed

[2020-11-13 00:02] jonjensen commented on #62
This predates Bucardo 5 and we haven't heard recent reports, so closing.

[2020-11-13 00:02] #62 closed

[2020-11-13 00:04] jonjensen commented on #54
I'm going out on a limb to say this got fixed somewhere along the way to Bucardo 5 since we haven't heard of it since. Closing.

[2020-11-13 00:04] #54 closed

[2020-11-13 04:20] jonjensen commented on #48
This report is 10 years old and predates Bucardo 5. I tried anyway to reproduce it and found it works fine for me. I started in MST7MDT, then switched the system to Australia/Hobart and restarted Postgres & Bucardo, and `bucardo status` shows Australia local times.

[2020-11-13 04:20] #48 closed

[2020-11-13 04:30] jonjensen commented on #166
This was simple so I added it in commit 41bfd302f42f99a8. Closing.

[2020-11-13 04:30] #166 closed

[2020-11-13 04:37] jonjensen commented on #73
Updated in commit 2299fef7dc0a96c8572. Closing.

[2020-11-13 04:37] #73 closed

[2020-11-13 04:38] jonjensen commented on #148
Same as issue #73 which is now fixed.

[2020-11-13 04:38] #148 closed

[2020-11-13 07:13] bzhaoopenstack commented on #221
@jonjensen Thanks for explain more and aware.

Recently, I use the master branch of bucardo in a mixed cluster for a demo show recently, which means we have 2 parts machines, one part is X86 machines, the other is ARM machines. And we get a request from customer, they wants to migrate the existing X86 cluster to ARM clusters one by one due to they can not exchange the whole X86 machines to ARM dir

[2020-11-16 10:43] savoir81 commented on #220
Hi David,

This is the situation. When using basic partitioning by range or similar, Bucardo on partition tables is not working. When using parent-child tables(inherit option) Bucardo is working on child tables.

Regards,
Savo

[2020-11-23 11:40] sangleemester opened #222 "Exact working scenario of conflict strategy "bucardo_latest" ?"
Hi everybody,

I'm trying to create a master-master replication with bucardo for a geo-redundant environment.
Both site's applications are using their own DB instances by default, in case the connection between the sites are down, both sites remain operational, but it's also necessary to share and sychronise the DB changes happened on both sites while the network connection was down.

I set the ma

[2020-11-23 22:52] machack666 commented on #222
Hi @sangleemester,

From a code review, it *does* look like the behavior you describe is what the code does; I assume that the basic assumption here is that replication is happening regularly, so anything that ends up in a conflict would have had previous rows copied over in a prior sync event.  (For the record, I also am a bit surprised that this is the way this works, as I would have expected th

[2020-11-24 02:34] ngekos commented on #220
Hi All,

I had same issue related partitioned tables
After I query the my pg_catalog.pg_class table and found this

[code]

the partitioned tables are `orders` and `order_status`. it seems like the partitioned table has different relkind `p` instead of 'r'. btw I found this on postgres 11.

Regards,
Ghofar

[2020-11-24 07:29] bzhaoopenstack commented on #221
Hi guys, I opened a PR for this, due to the previous reason, I test so many times, seems that would cost the least time to run on travis ARM machines... And I set the [WIP] title when we are all ready about that. Thank you.

[2020-11-24 07:43] bzhaoopenstack commented on #221
Oh, @jonjensen Did team abandon travis? Due to they become taking money? Hmm, not sure why the PRhttps://github.com/bucardo/bucardo/pull/223 doen't run on travis or any test platform on Bucardo master branch.

[2020-11-24 22:24] winstonford opened #224 "Is there a way to set a sync with everytimecopy=1, so to speak?"
When I update my sync to Onetimecopy=1, it always succeeds.  But of course is then set back to zero.  It then fails quickly with errors.  Is there a way to set the sync to Onetimecopy, every time?

[2020-11-28 01:29] bzhaoopenstack commented on #221
Hi team,
@turnstep @jonjensen @machack666 Could you please take a look at [PR](https://github.com/bucardo/bucardo/pull/223) ? And give some advices and feedback. Thank you very much

[2020-12-08 17:26] jonjensen commented on #221
@bzhaoopenstack I don't know what is going on in the Travis CI world with open source, but if it ends up being a hassle like I'm reading in [this thread](https://twitter.com/alex_gaynor/status/1336098972864303104) we should probably just forget about it. Any other ARM CI you'd like to try that is free for open source projects?

[2020-12-10 02:59] bzhaoopenstack commented on #221
@jonjensen Thanks for feedback.

Hmm, I suggested 2 options in [previous comment](https://github.com/bucardo/bucardo/issues/221#issuecomment-725789229) , so if bucardo team plan to abandon travis-ci. As much I know, that we can use openlab ci(free for ARM and X86 test resources), which mentioned the option 2 would be good. But before that, we need to know the decision of bucardo team about whether

[2021-01-08 22:17] jonjensen commented on #221
@bzhaoopenstack Thanks for checking back. When it comes to CI, I think all of us on the Bucardo team are happy to have any volunteer help do it however they want, if it doesn't make extra work for us to deal with! If you want to set up CI there, and there's no cost, please go ahead. If it works well, that will probably become the new official Bucardo CI. I will be happy to take a look at what you

[2021-01-18 13:04] hasegeli commented on #188
We added the links.  But the documentation is still in sad state.  Any help is appreciated:

https://github.com/bucardo/bucardo_org

[2021-01-19 02:40] axshen commented on #208
Thanks @machack666 I was able to get the [pgbench example](https://bucardo.org/Bucardo/pgbench_example.html) working with your code.

[2021-01-19 07:56] bzhaoopenstack commented on #221
Hi @jonjensen
So sorry for late reply, so busy recently.
Thanks. I will start the work and test on the test env first. And back to get your review for the test job definition. Once the whole pre-work is done, I will request help from you guys to config bucardo repo in github and how to use. Thanks. ;-)

[2021-01-19 22:23] #188 closed

[2021-01-19 22:24] jonjensen commented on #139
This is very old and we haven't had any recent reports of Bucardo crashing upon stop, so I'm closing this.

[2021-01-19 22:24] #139 closed

[2021-01-19 22:25] #133 closed

[2021-01-19 22:26] jonjensen commented on #142
Not actionable. Closing.

[2021-01-19 22:26] #142 closed

[2021-01-19 22:26] jonjensen commented on #141
Not actionable. Closing.

[2021-01-19 22:26] #141 closed

[2021-01-19 22:28] #128 closed

[2021-01-19 22:28] #127 closed

[2021-01-19 22:29] #116 closed

[2021-01-19 22:30] #110 closed

[2021-01-19 22:39] jonjensen commented on #101
@badgerpants @jifeon Thanks. `--batch` is now documented.

[2021-01-19 22:39] #101 closed

[2021-01-19 22:45] jonjensen commented on #37
@turnstep You were apparently working on this. It's 8 years old now, so I imagine it either got fixed or is no longer needed. Can you advise?

[2021-01-19 22:45] jonjensen commented on #32
Closing since there appears to be no demand for this feature.

[2021-01-19 22:45] #32 closed

[2021-01-19 23:08] jonjensen commented on #149
@patsevanton Thanks for the report. This is fixed in commit https://github.com/bucardo/bucardo/commit/bfdb1f2820fc89675d905cce563eb64034314f19.

[2021-01-19 23:08] #149 closed

[2021-01-19 23:16] jonjensen commented on #221
@bzhaoopenstack Sounds great. Thanks!

[2021-01-20 15:58] turnstep commented on #37
Agree that we might as well close it now,

[2021-01-20 15:58] #37 closed

[2021-01-27 03:18] bzhaoopenstack commented on #221
@jonjensen Thanks, I had finished the configuration towards my forked bucardo repo, and in test progress, once I finish, will let you know and review.

[2021-01-27 09:03] bzhaoopenstack commented on #221
@jonjensen
It almost done here, https://github.com/bzhaoopenstack/bucardo/pull/4#issuecomment-768079740 ..
Please see whether it can match our requirement, right now, introduce 4 jobs to each bucardo PR, 3 jobs run on x86 with PG 10,11,12 and perl 5.30 . 1 job runs on arm64 with PG 12(upstream repo only provides arm64 packages after PG12) and perl 5.30.

How do you think? If you are OK with the te

[2021-01-27 09:04] bzhaoopenstack commented on #221
But hit issues which is not related with the CI system. So I have no idea to resolve now

[2021-01-29 03:12] jonjensen commented on #208
I just extensively reworked the [pgbench example](https://bucardo.org/Bucardo/pgbench_example) too, running through it all from scratch myself.

[2021-01-29 03:12] #208 closed

[2021-01-29 03:14] jonjensen commented on #102
I'm not sure what was going on here, but this is over 5 years old and I haven't seen anything similar in recent years, so closing.

[2021-01-29 03:14] #102 closed

[2021-02-22 01:35] bzhaoopenstack commented on #221
Hi @jonjensen any updates or suggests for the demo, there is no steps for a month..

[2021-03-11 18:11] jonjensen commented on #221
@bzhaoopenstack It sure seems that the problem must have something to do with the CI system, because the unit tests all pass fine on my machine (Fedora 33 x86_64):

[code]

[2021-03-15 01:10] bzhaoopenstack commented on #221
https://github.com/bzhaoopenstack/bucardo/pull/4#issuecomment-797196563  Oh, yeah, I retest via the openlab, it get pass.

[2021-03-15 16:40] jonjensen commented on #221
@bzhaoopenstack Excellent!

So now we can close PR #4 right?

And what do we need to do to make the OpenLab tests run for every PR? Is that happening now automatically?

[2021-03-16 07:21] bzhaoopenstack commented on #221
@jonjensen we need to install the [openlabci app](https://github.com/apps/theopenlab-ci) in bucardo project, and after that, I will reconfig the openlab server to our official repo bucardo/bucardo and nochange other config. As currently, the CI had been configured as a PR triggered tests, the only difference is those jobs only can enable on my forked repo bzhaoopenstack/bucardo, which already inst

[2021-03-16 07:22] bzhaoopenstack commented on #221
For installing the openlabci app, that should be operated by the admin of bucardo/bucardo repo

[2021-03-18 07:29] bzhaoopenstack commented on #221
I think we can step up the related work recently, right? @jonjensen

[2021-03-31 06:12] amitdkhan-pg commented on #221
Having a PR-triggered openlab CI system looks really beneficial for the bucardo project as a whole, since there does not seem to be any Travis or Openlab CI running currently. And it looks like @bzhaoopenstack is ready to independently do all the setup required to bring the openlab CI system up and running. He has already done the necessary changes in https://github.com/bzhaoopenstack/bucardo/comm

[2021-04-13 15:28] ganeshcse2991 opened #226 ""bucardo add table" - execution failed"
I am trying to run `bucardo add table users` after adding the databases. I am getting the following error while adding the tables:

However running `bucardo add database dbname=source` worked without any errors. Not sure what I am missing. I tried passing password with dbpass while adding tables and it did not work too.

[2021-04-14 18:42] lbabay opened #227 "bucardo logging - forwarding via rsyslog"
Hey all, I am having a really hard time figuring out how to change the logging level for bucardo. I would like to be able to generate some more logs for the purpose of testing out if these logs are forwarding correctly.

from my understanding, bucardo logs are not a recognized rsyslog facility, i'm using rsyslog to forward my current server logs and I was hoping that I would be able to do the same

[2021-04-14 19:46] why-el opened #228 "is fullcopy deprecated?"
Trying to use `fullcopy` for non-primary key tables:

[code]

am I mistyping something? Or is the option deprecated? It is still [mentioned](https://bucardo.org/Bucardo/object_types/fullcopy) in the docs as of 2020.

[2021-04-14 22:26] jonjensen commented on #227
@lbabay Yes, Bucardo can send its logs to syslog. It is documented here:

https://bucardo.org/Bucardo/cli/

I just updated that to show the more modern bucardo command arguments instead of deprecated ones, and it shows how to change the syslog facility from the default LOCAL1.

I tested this today on the latest Bucardo sending logs to my local rsyslog server to confirm it works as expected, for ex

[2021-04-14 22:26] #227 closed

[2021-04-14 22:28] jonjensen commented on #226
@ganeshcse2991 It looks like your system Perl that is used by PL/Perl in Postgres doesn't have DBD::Pg installed.

Are you using a custom perl installation for bucardo itself?

(This would be better discussed on the mailing list, since this isn't an issue with Bucardo itself.)

[2021-04-15 05:11] ganeshcse2991 commented on #226
No @jonjensen I have installed DBD::Pg manually also and tried adding tables again. No luck with that too.

Also, I am not using any custom perl.

[2021-04-15 12:04] jonjensen commented on #226
@ganeshcse2991 Where is your DBD::Pg installed? It seems not to be in the Perl `@INC` path where PL/Perl functions can see it.

See the [Postgres docs on PL/Perl](https://www.postgresql.org/docs/current/plperl-under-the-hood.html#PLPERL-CONFIG) and for example you can have psql connect to your `bucardo` database as the `postgres` role and print out the `@INC` path it is using:

[code]

Your instal

[2021-04-15 17:49] lbabay commented on #227
thank you Jon!

[2021-04-16 06:31] hasegeli commented on #228
I think it's controlled by the "onetimecopy" option on the latest version.

The documentation is unfortunately outdated.  We are working on fixing it.

You can read about the options using "bucardo help add sync".

[2021-04-16 14:55] why-el commented on #228
`onetimecopy` (run as part of `./bucardo add sync NAME dbs=DB1, DB2 relgroup=DB1toDB2nonpkfullcopy onetimecopy=2`) complains with:

[code]

This is what's confusing. `fullcopy` was the solution to small tables missing primary keys (short of adding primary keys or unique indexes), and that option is gone, so I would suspect `onetimecopy` to be a drop in replacement, but it's not.

[2021-04-18 09:57] hasegeli commented on #228
I tracked this down in the code and find out how to do it.  You need to create `dbgroup` using `fullcopy` role.  Here is an example:

[code]

I confirmed on master that this works.  However, I think it's broken on on the last release.  We'll make sure this is documented, and look into releasing a new version.

[2021-04-18 09:58] hasegeli commented on #224
Have you tried `onetimecopy=2`?

[2021-04-18 13:50] why-el commented on #228
Ah, thank you for lookinng into it. 👍 I have since decided it was easier to just add unique indexes, but good to know that there will be a fix.

[2021-04-22 11:32] denismatveev opened #231 "Does Bucardo support 'SELECT ... FOR UPDATE' ?"
Hey!

I faced the problem building airflow cluster. To launch multiple instances they use 'SELECT ... FOR UPDATE'.
I tried to build the cluster with postgres-13 in multi master cluster. And got errors.

Versions:
- PostgreSQL 13.2
- Bucardo  5.6.0
- Ubuntu 20.04

Do you have plans to implement such feature in the future? If so, which release will contain this?

[2021-04-22 11:59] hasegeli commented on #231
I couldn't understand what you meant by 'SELECT ... FOR UPDATE' support.

Bucardo works with INSERT/UPDATE/DELETE triggers.  It records changes rows and replicates them to the other instances.  SELECT ... FOR UPDATE wouldn't trigger anything.

[2021-04-26 09:38] upost opened #233 "Sync status is inaccurate during onetimecopy(=2)"
Installed version: 5.5.0 (from Ubuntu's package manager)

I have the following setup:

source db (postgresql 9): 75 tables, some of which have >1M rows, with active application writing to that db all the time
target db (postgresql 12): empty

I want to move everything to the target db and sync without service interruption. (Later I want to switch the application to the new database.)

I have setup

[2021-04-26 18:10] hasegeli commented on #233
Thanks for reporting an issue.

I tried reproducing this on the current HEAD.  Here is what I got for `bucardo status`:

[code]

The output may have changes since version 5.5.

The latest version is 5.6.  We are about to release a new version.  There are pending changes related to the fullcopy feature.  I suggest upgrading once it is released.

That said, I am not very confident about the "status"

[2021-04-26 18:10] #233 closed

[2021-04-26 19:20] hasegeli commented on #228
I submitted documentation fixes:

https://github.com/bucardo/bucardo/pull/232
https://github.com/bucardo/bucardo_org/pull/16

[2021-04-26 19:20] #228 closed

[2021-04-26 19:25] why-el commented on #228
thank you @hasegeli 👍

[2021-05-05 14:53] turnstep commented on #231
It would be helpful if you could show the exact errors that were produced.

[2021-05-05 15:01] turnstep commented on #156
Not using session_replication_role would be a major change and I cannot truly see us implementing that without some serious safety checks. But I suppose it could be skipped if we are completely sure the target tables have no rules and no triggers, including system ones. Those checks would be more expensive than calling SRR itself, so the onus should probably be on the caller to supply a flag (or a

[2021-05-05 15:02] turnstep commented on #13
Closing for now, due to its age and inability to duplicate.

[2021-05-05 15:02] #13 closed

[2021-05-05 15:04] turnstep commented on #23
Closing; looks like this was done in 7fa0f569

[2021-05-05 15:04] #23 closed

[2021-05-05 15:06] turnstep commented on #38
Closing: no response in many years

[2021-05-05 15:06] #38 closed

[2021-05-05 15:08] turnstep commented on #49
Closing: the related code has changed since this was last updated.

[2021-05-05 15:08] #49 closed

[2021-05-05 15:10] turnstep commented on #56
Closing: very old and could not duplicate

[2021-05-05 15:10] #56 closed

[2021-05-05 19:15] turnstep commented on #111
I was able to duplicate this problem: the slowdown occurs in the repeated INSERTs to the herdmap table. Specifically, the herdcheck trigger was slowing things down too much. Made a proposed fix at https://github.com/bucardo/bucardo/pull/234

[2021-05-12 06:36] MarioSchle opened #235 "Schemas and tables containing "=" signs are not synced"
Hi,

Recently we found out that schemas or tables containing an equal sign ("=") in their name are ignored during a migration. This happens due to the line https://github.com/bucardo/bucardo/blob/master/bucardo#L5071. In case you use the 'add herd' command the get_goat_ids function gets called which contains the mentioned line and ignores schemas/tables containing an equal sign.

Unfortunately, I

[2021-06-04 21:21] bgold0 opened #236 "CustomSelect / CustomCols not working as per documentation"
[Documentation for CustomSelect / CustomCols](https://bucardo.org/Bucardo/operations/customselect) notes that:

**Goal:** Only sync rows `WHERE location='location1'`
**Implementation:** `./bucardo add customcols public.mytable "SELECT * FROM public.mytable WHERE location='1'"`

What should have happened is the rows where location is equal to anything but 1 should not sync however this is not the c

[2021-06-04 21:43] bgold0 commented on #152
Were you able to figure this out @858659744 @BryceDFisher @vivekanandg

[2021-06-11 18:32] mkamana opened #237 "Incorrect status with onetimecopy mode"
Hi,

I am using bucardo 5.6 to do a fulltime copy from 9.3 version of postgres (running on EC2) to 9.6 version of postgres (running on RDS).

There is COPY to STDOUT on the source and there is a COPY from STDIN on the target as expected. (by checking pg_stat_activity table).

But, the status for the sync shows the following:

[postgres@abcd bucardo]$ bucardo status sync_abcd
======================

[2021-06-25 22:58] nibohr commented on #163
I'm trying to achieve that but I´m stuck

[2021-06-29 21:54] nibohr commented on #236
Did you figure it out???

[2021-07-01 12:27] hasegeli commented on #236
AFAIU, `customcols` controls only the columns to be synced.  The select query it there to get the column list.  It shouldn't have a where clause.

[2021-07-01 22:26] nibohr commented on #236
does it work in master-master replication???

[2021-07-01 22:38] nibohr commented on #79
any progress on this???

[2021-07-02 12:23] hasegeli commented on #236
I don't see a reason why it wouldn't.  Did you try it?

[2021-07-02 14:44] nibohr commented on #236
I tried but bucardo just ignore my customcols, I don't know if I'm missing something

[2021-07-29 10:09] mohammadasim opened #238 "Bucardo connection over SSL"
We have two Postgres containers running on two different servers. We have used Bucardo 5.5.0 to set up a master to master replication. Everything has worked fine so far. However, we have now enabled SSL connections for all our Postgres servers. This change has stopped Bucardo from working. All our applications can connect to each Postgres server over SSL without any problem. I can also connect to

[2021-07-30 00:53] jonjensen commented on #238
Many Bucardo installations use SSL, so yes, it's supported.

Take a look at the [bucardo command documentation](https://bucardo.org/Bucardo/cli/) and search for `ssl` there.

I believe you'll want to do something like:

[code]

or `sslmode=require` or whatever as per the [sslmode docs](https://www.postgresql.org/docs/current/libpq-connect.html#LIBPQ-CONNECT-SSLMODE).

I hope that helps!

[2021-08-08 18:34] denismatveev commented on #231
Hey! I'm afraid I cannot provide any additional information, I gave up using burardo, but there is my question at airflow github:

[2021-08-09 16:58] #231 closed

[2021-08-10 21:18] Austinreedthomas opened #239 "Bucardo race condition"
I have an application that uses multiple PostgreSQL databases and Bucardo to sync between the various master/slave nodes. I'm seeing a race condition where bucardo dies on a master node and doesn't sync a `write` request and the databases go out of sync before the next cron job comes up that force helps bucardo if something happened to it. I'm looking for a solution for when Bucardo dies on my mas

[2021-08-14 21:39] JJPL commented on #238
Buenas he revisado la documentación y no encontre a demas de dbconn o conn para resolver el problema sin embargo al habilitar ssl , bucardo no conecta por error en el DBI connect , /usr/local/bin/bucardo , si me pueden ayudar con la configuración.

[2021-08-18 09:25] laorunsen opened #240 "idle in transaction after kid auto restart"
we use the parameter of maxkicks  with Bucardo 5.6.0.
after kid auto restart,  we can found an idle transaction in databases of dbgroup.
 backend_xmin |          xact_start           |    xacttime     | datname |  pid  |        state        |                                                                                            query
--------------+-------------------------------+-------------

[2021-09-21 20:51] Austinreedthomas opened #241 "Unable to Add Database After Bucardo Install"
After a successful bucardo install on port 5432, dbname=postgres, and dbuser=postgres via RPM installation, I'm trying to run the command `bucardo add db db_hostname_dbname` on my master node and getting the error `ERROR: relation "bucardo.bucardo_config" does not exist`
`SELECT setting FROM bucardo.bucardo_config WHERE LOWER(name).. ^ at /sbin/bucardo line 548`

If I manually enter psql as the su

[2021-09-28 15:16] vdrizheruk opened #242 "'bucardo validate' always passed (OK)"
bucardo version:  5.6.0

STR:

1.  setup replication (made it workable)
2. add new table on master
3. reload bucardo
4. run `bucardo validate my_sync` - always will be finished with exit code = 0 and status "OK"
5. check logs - will be found message like `(4264) [Tue Sep 28 14:44:45 2021] MCP Validation of sync my_sync FAILED`

Expected result:
1. `bucardo validate my_sync` will show actual status

[2021-09-30 15:41] #241 closed

[2021-09-30 22:23] Austinreedthomas commented on #239
Any update on this? Hello?

[2021-10-23 06:02] kokizzu opened #243 "Failed to add sync, cannot delete from table "bucardo_delta_targets" because it does not have a replica identity and publishes deletes"
[code]

What's the possible cause of this?

[2021-10-26 11:50] Magicloud opened #244 "Failed to `add sync` due to read only account in source DB."
Bucardo 5.6.0. Error message:
[code]

Seems unexpected. Line 4670 is inserting `bucardo.sync`. Why does it connect to my source DB? I got this because I use a read only role for Bucardo in case I misoperated. The bucardo DB running locally works fine and adding dbs/tables all worked.

[2021-11-07 19:33] KinoshitaShimizu commented on #243
Setting "wal_level" to "logical" @kokizzu

[2021-11-10 23:23] veragini opened #245 "Sync shows No records found but source table has 1286452 rows"
Hi Team,

I have some tables that Bucardo sync is showing status as 'No records found' but the source table has 1286452 rows.

These tables have PK (not null) and I used that onetimecopy=2 option. But it says no rows. PS. Target table is empty.

I also tried to create a new dbgroup:fullcopy but no success.

Many other tables are fine! I have also restart Bucardo many times.

Here is the function i

[2021-11-11 02:16] waynetaylor commented on #242
+1 on this. Was setting up today and bucado validate all or bucardo validate syncname returns OK. However, when I checked logged I found a failure due to ordering of columns and had to disable strict validations.

[2021-11-17 10:22] kritik commented on #243
@kokizzu should I patch /usr/share/perl5/Bucardo.pm or /usr/bin/bucardo?

[2021-11-17 12:14] kritik commented on #244
Have the same issue on the same version. Added some debugging.
[code]

I also tried both ubuntu deb and compiled from source versions

[2021-11-17 12:42] kokizzu commented on #243
i gave up and do full dump and restore instead of using this '__') @kritik

[2021-11-17 13:11] kritik commented on #243
Anyway this one seems to be dup to #244

[2021-11-17 13:24] Magicloud commented on #244
@kritik I had to use a writable account to make this work. And found out that, although the error says "insert to sync", actually, it breaks on creating some triggers in source DB. When using read-only account, surely the triggers are failed to create.

[2021-11-17 13:24] #244 closed

[2021-11-17 13:38] kritik commented on #244
interesting.... I'm using in the source DB (also AWS RDS) user which was created during DB in creation. It seems that this user has to have maximum available rights :)

[2021-12-02 00:12] afoley-st commented on #243
I am seeing a similar issue:
[code]

My source db has `wal_level=logical` and my target db has `wal_level=replica`. Is that correct?

[2021-12-09 15:47] soroushatarod commented on #243
hi, we are investigating to use Bucardo and have stumbled across the same issue. Is there a quick-around solution to fix it?

[2021-12-09 16:52] afoley-st commented on #243
I moved to just using native postgres logical replication with `pglogical`. It works great.
Some references:
* https://cloud.google.com/sql/docs/postgres/replication/configure-external-replica
* https://www.alibabacloud.com/help/doc-detail/254763.htm

[2021-12-19 02:35] xiaoluadr commented on #213
i have same problem too, in three master mode ,If any primary instance is stopped, all syncs will not work unless bucardo on any instance is restarted

[2022-01-13 00:25] joebnc commented on #207
we have same error message.
not sure if it contribute to making Current State: Bad.
any info on this would be appreciated.

[2022-02-13 03:14] WGandy commented on #181
i'm curious about this as well. And consider a 3 location HA configuration. If the Bucardo controller (and database) is running at site A and site A fails, synchronization won't occur between sites B & C. Is there any kind of fail over designed into Bucardo?

[2022-02-15 20:33] ken-harper commented on #213
I have encountered the issue of Bucardo not re-connecting to the database after the connection has been lost for a period of time.  Restarting Bucardo gets things going again.  Currently leveraging Bucardo version 5.6.0.

Are there any additional configurations for Bucardo that would enable Bucardo to re-establish the database connections?

[2022-03-01 22:47] MichaelDBA opened #246 "Is this repo still active?"
I don't see much activity in issues or changes except in copyright updates.  Is Bucardo still being maintained and what current version of PostgreSQL is supported?

[2022-03-01 23:12] jonjensen commented on #246
Bucardo is still an actively-used project, yes. It works with the latest PostgreSQL 14.

[2022-03-01 23:44] MichaelDBA commented on #246
May I ask why there are so many open issues without input for years?

[2022-03-01 23:51] jonjensen commented on #246
The issues that the contributing developers feel are important have gotten dealt with, and those that remain nobody has had time & interest in. Open source projects often have more people asking for things than those able & willing to do them!

[2022-03-02 01:22] MichaelDBA commented on #246
At least post a comment on the ones you are not gonna address immediately with a short explanation.  That would be encouraging to folks to at least let them know that you have seen their issue and considered it.

That's how most other active PG open source projects seem to work.

[2022-03-14 01:33] ivarmu commented on #213
Same problem here. What is happening is that when you stop the postgres service at server A, the replication processes at server B are finished, so no active sync is alive:
Before stop of server A:
[code]

After stop of server A:
[code]

Looking for a solution...

[2022-04-05 01:42] chhbunrath opened #247 "Sync missing record"
Hello everyone,
I have issue relate sync data from source to target. it missing some record when error column position.

[2022-04-07 12:57] fredcvpetten commented on #187
Hi, could you please make it available? email frederico@ati.com.br

[2022-04-08 15:40] 131 opened #248 "Why does bucardo requires plperlu ?"
I understand that `plperlu` is an unsafe version of `plperl`.
In managed environments, it will be hard to find a provider with this extension available (when `plperl` is always available)

Whould bucardo be compliant with a simple `plperl` ?
If not, can you explain us why ?

[2022-04-13 09:46] jams008 commented on #243
Hello, i have this issue.
can anyone help me?

[code]

[2022-04-18 05:55] jams008 opened #249 "Error "must specify a primary key!" when adding sync?"
Hello, when I add process sync but I found error like below. I saw a reference from this issue https://github.com/bucardo/bucardo/issues/228 Is it true that the last release had problems with some sync conditions?

Thanks.

[code]

[2022-04-29 22:01] mahald commented on #243
Had the same issue since there still was an active publication (for all tables) on the Database. After deleting the Publication the problem is gone.

[2022-07-21 14:56] turnstep commented on #248
The plperlu functions need to (among other things) connect to databases via DBI, so the locked down version of plperl will not work. However, the long-term plan is to remove the plperl and plperlu dependencies entirely, and rely more on the `bucardo` program to do all the things the current functions do.

[2022-07-22 11:22] bratajczyk opened #250 "How add redis database to bucardo"
bucardo version 5.6.0
I already have working bucardo for postgres.

Now I would like to replicate 2 redis instances

**Problem:**
When  I try add add new redis databses bucardo commmad freezes
`bucardo add db source_db dbhost=$REDIS_HOSTNAME dbport=6379 type=redis dbname=db0
`
- redis-cli works correctly from the same host
- I don't anything in the logs

[2022-10-06 13:43] #222 closed

[2022-10-06 14:32] sangleemester opened #251 "Custom conflict handling problems (using simple statement)"
Hi everyone,

I'm trying to use custom conflict handling  for a table-pair of a master-master replication.
I checked the provided ctest*.pl scripts, and even "bucardo_unique_conflict_resolution.pl" if any of them meets my needs, or if I could get some helpful ideas at least, but none of them seemed to be suitable.

My table is practically a config table, contains only 2 records. Just 2 parameters